<b class="chapter-heading">Break Time - Log 1 13:46</b>
<p class="fiction-content">
    The unsightly doors rolled open once more, like some abhorrent creature awakening from its daily slumber, gears
    grinding
    and metal clanging.
</p>
<p class="fiction-content">
    The figure strolled inside, an unsightliness matching, or perhaps matched by, the space around it. Another figure
    was
    already inside, one foot pressed against the wall, arms crossed. They faced the wall, but there was no focus in
    their
    eyes. Their body was here, but their mind was being held hostage elsewhere.
</p>
<p class="fiction-content">
    "Your mandated break time begins now. Please select a floor."
</p>
<p class="fiction-content">
    At the recommendation of the formless, toneless voice that pervades from above into each individual corner of the
    room,
    the first figure goes to press one of the buttons, but the second figure's hand unfurls from its position tucked
    under
    the other, swiping out and slapping one instead.
</p>
<p class="fiction-content">
    "Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-"
</p>
<p class="fiction-content">
    "Yes, we know."
</p>
<p class="fiction-content">
    The second figure spoke without warning, still facing unabashedly at the wall opposing them, words so detached from
    their lips it was as if they were spat out before they could open. These words caught the attention of the first
    figure,
    who saw it fit to inspect their features more than before.
</p>
<p class="fiction-content">
    This indistinct, wall-clinging figure, we'll call them Two, wore an expression of drooped eyebrows, and the eyes
    underneath were heavy yet piercing. They had already returned their foot to its position against the wall, seemingly
    taking comfort in the weight it gave to their balance. Their lips were pursed and taut, clasped, as the padlock to
    their
    thoughts.
</p>
<p class="fiction-content">
    Not wanting to be caught staring, the first figure, who we'll also give a name, One, darted their gaze away.
    Following
    the act of Two, One decided to look at a wall as well. The walls themselves were lazily painted, a grey
    indistinguishable from the metal it was painted over. Otherwise, there were streaks of a sterile green that lined
    the
    circumference of the room at different, random heights. Making any company of this wall did very little to mask the
    repetitive sound of mechanical whirring and the hypnotising clack of the cables as they passed by each floor.
</p>
<p class="fiction-content">
    Aside from slit-like openings higher than eye-level, the room was fully enclosed, and the occasional flicker of the
    world outside would dip in and out through these slits like the blink of a firefly or the snap of a camera shutter
    at
    sunset, whichever metaphor sounded more pleasant. The only other lights were the faulty ceiling lamps, of which
    there
    were two, that blasted artificial beams and filled almost every crack with a sickly, eye-melting yellow, but they
    would
    cut out at around floor 20, for a reason One was still unaware of. At those times, the only consistent light would
    be
    the glow of the elevator buttons. The electric, purple glow of all 52 sweat-weathered buttons.
</p>
<p class="fiction-content">
    One fidgeted about the space, and its limitation weighed down upon them. This was a break time, so they felt
    compelled
    to move. They were moving, in a sense, moving up, as they always were at this time. Maybe that was enough.
</p>
<p class="fiction-content">
    But instead, One started to pace. They started in one corner, pushing their heel as far in as possible, and began to
    walk, placing each step squarely in front of the other, so that they were touching whenever the next step was made,
    heel
    to toe. For the first few paces, Two took no notice, but as One passed in front of their listless gaze, their pupils
    shrunk, and latched onto One's presence, starting to follow them.
</p>
<p class="fiction-content">
    One reached the other side of the room, their final step cut short as their foot could not fit in the space
    remaining,
    the ball being lifted as they stepped against the wall opposite to the one they started at, acknowledging the
    conclusion
    of their journey.
</p>
<p class="fiction-content">
    Using their rudimentary translation of the length of their feet into a usable measurement, One determined that the
    room
    was 1.15 metres in length, from the door to back.
</p>
<p class="fiction-content">
    A ping was heard, as the mechanical rumbling came to a gradual stop.
</p>
<p class="fiction-content">
    Two's confusion, as they lingered on One's curious display, was wrenched from their face as the doors trundled open.
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>
<b class="chapter-heading">Break Time - Log 2 13:46</b>
<p class="fiction-content">
    The unsightly doors rolled open once more, like some abhorrent creature awakening from its daily slumber, gears
    grinding
    and metal clanging.
</p>
<p class="fiction-content">
    One strolled inside, and was met by the immobile Two. They stood leaning against the wall to the right of the doors,
    as
    before. This time, nestled between their fingers, was what appeared to be a small sandwich. As One entered, they
    raised
    the sandwich to their mouth, unzipping their lips for a brief moment to take a bite, tearing through the bread, and
    returning their hands to their front as they began to chew. This ritual allowed him to ignore One's presence.
</p>
<p class="fiction-content">
    "Your mandated break time begins now. Please select a floor."
</p>
<p class="fiction-content">
    One waited for the other person in the elevator to press the button. Two, still wrestling the flat, crusty bread and
    processed meat, pushed in the button labelled '26'. They then glanced at their finger, before rubbing it against
    their
    clothes and returning it to hold the napkin embracing their sandwich.
</p>
<p class="fiction-content">
    "Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-"
</p>
<p class="fiction-content">
    Two takes a particularly loud bite of their sandwich. Whether the sound was actually loud, or the novelty of a
    different
    sound took One's notice to the point that it overpowered all others, is unknown.
</p>
<p class="fiction-content">
    One assumed their position of vigil over the doorway. Their face, if they were being watched externally, perhaps
    even
    through the slits above them, would be cast in deep shadow, as the unrelenting rays of the ceiling lamps beat down
    on
    the inhabitants of the elevator. Despite the shadow lingering on One, Two's direct, uncompromised facial posture
    caused
    them to be bathed in the glow from above. Not visible to One at the moment were the dark, sullen circles that hung
    below
    their eyes, something the ceiling lamps were unaffected by revealing.
</p>
<p class="fiction-content">
    The stagnant air clung to the 1.15 metre long and however many metre wide space. Inaudible below the various
    mechanical
    noises of the elevator was the slow, measured breathing of One, as they drew the air in, held it, and released. They
    closed their eyes and focused on this breathing. They counted for how many seconds they breathed in, and how many
    seconds they breathed out.
</p>
<p class="fiction-content">
    This process was only interrupted by two things. The first was the eventual scrunching of the napkin held by Two
    standing diagonally behind them, which was now void of the sandwich that had descended their gullet, and the sharp
    scuffing of hands as Two brushed the remaining crumbs from their palms. The second was the ceiling lamps cutting out
    at
    floor 20, which, while One was fully aware of it, startled them due to their focus, causing the breath they were
    counting at the time to be a couple of seconds shorter than the others. The dimming of the lights returned Two's
    face to
    a permanent shadow, upon which they seemed to relax, sliding their leg down the wall, and tilting their head to
    strain a
    look at the slits that lied above their usual vision range, and still remained impossible to glimpse through. Their
    left
    hand was curled into a fist, tightly cradling the napkin that once held their sustenance.
</p>
<p class="fiction-content">
    The elevator released a crunching metal noise, and One instinctually breathed in once more, holding it as they
    awaited
    the announcement.
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>
<b class="chapter-heading">Break Time - Log 3 13:46</b>
<p class="fiction-content">
    The doors rolled open once more, like some abhorrent creature awakening from its daily slumber, gears grinding and
    metal
    clanging.
</p>
<p class="fiction-content">
    Two was already facing the door. Shortly after their face appeared to One through the widening partition, Two’s
    glance,
    which had caught One for but a moment, snapped to the set of buttons to what was now their left. Closer to Two than
    usual, they had to physically bend their neck to look down from Two’s face to what they were holding. In their hands
    was
    a pad of paper, a notebook of sorts, or at least something that resembled it. One had a pad of their own, after all,
    it
    was mandatory for everyone to make note of their activity.
    With an audible airy flipping of paper, Two swung the ringed pad shut, and returned to their usual position.
</p>
<p class="fiction-content">
    "Your mandated break time begins now. Please select a floor."
</p>
<p class="fiction-content">
    Spinning their pen in their right hand, about their index finger, using their thumb and middle finger for
    propulsion,
    Two, distracted by invisible clouds of mental energy, reached over and pressed a button.
</p>
<p class="fiction-content">
    The gentle whirr of the pen, which would every so often be stopped by the clacking of plastic against flesh as it
    came
    to a halt, losing its momentum, was just barely audible for the time the elevator shaft stood still. Each time it
    stopped, Two would begin again.
</p>
<p class="fiction-content">
    "Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-"
</p>
<p class="fiction-content">
    A clattering caused One to flinch, as the pen was tossed from finger to floor. It slid across to sit near to One’s
    feet.
</p>
<p class="fiction-content">
    And there it sat. Both One and Two had instinctively reached out to retrieve it, but had realised what they were
    doing
    and withdrawn themselves. All that remained of their eager forms was the blatant stare toward the slim ink-implanted
    cylinder lying beneath them, and a slight lean from Two, as their suppression of their actions was only skin deep.
</p>
<p class="fiction-content">
    Unbeknownst to both of them, their breathing, especially One’s, had become heavier. It was only when the elevator
    passed
    floor 20, and their focus of the pen was impaired, that One realised, and clasped their mouth shut, muffling their
    sound
    and holding their breath. Using the darkness, and moving with as little sound as they could muster, One crouched.
    They
    kept their back straight as they did, and fumbled their hand across the darkened expanse to their sides until their
    skin
    met with something other than cold metal. Brushing it with their fingers, One swiped the pen deftly, ensuring it was
    not
    dropped mid transit. Their eyes were fixed on the form of Two, who had, assumedly since the elevator had passed
    floor
    20, resigned themselves to a temporarily pen-less existence, and as such was no longer facing the pen nor One.
</p>
<p class="fiction-content">
    One examined the pen in their hands. Naturally, it was hard and smooth, and the grip was slightly ridged. Pondering
    for
    a moment, One was about to attempt a spin of their own, but stopped themselves. Almost sightless in the rarely
    interrupted dark of the elevator, One felt that the pen held the remnants of some sort of warmth. The warmth from
    Two’s
    hand, the hand it was being held in mere seconds ago.
</p>
<p class="fiction-content">
    A cracking and grunting of chains erupted, before everything ceased. A familiar voice filled the silence, and the
    doors
    parted ways, flooding the room with visibility once again.
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>
<p class="fiction-content">
    One’s attention raised from the pen and to Two, who, in the same instance, had raised their head from the ground
    where
    the pen once was and to One’s face. One’s grip of the pen loosened instantly and they held out their hand.
</p>
<p class="fiction-content">
    “Oh, uh…”
</p>
<p class="fiction-content">
    Two’s hand curled, their fingers scooping it up and squeezing it into their fist. They continued past One and into
    the
    beyond.
</p>
<p class="fiction-content">
    One faced it as well, but Two was still not far. Just outside the doorway, they held up their free hand, palm open,
    as
    they continued to walk.
</p>
<p class="fiction-content">
    “Thanks.”
</p>
<b class="chapter-heading">Break Time - Log 4 13:46</b>
<p class="fiction-content">
    The heavy doors rolled open once more, gears grinding and metal clanging.
</p>
<p class="fiction-content">
    As One wandered into the elevator, Two turned. Only their head, slowly and subtly, like how one might check their
    hair
    in the mirror. Their irises were wrenched open by an underlying sensation, one that Two could not label if they
    tried.
    But it was calm, and perhaps even slightly tepid. It squirmed and clung to life under the weight that pulled on
    their
    eyelids.
</p>
<p class="fiction-content">
    One returned their look, and nodded. A light tip of the head.
</p>
<p class="fiction-content">
    "Your mandated break time begins now. Please select a floor."
</p>
<p class="fiction-content">
    Two shuffled against the wall, the flat, rubbery surface of their shoe squeaking as it lifted and made contact.
    Their
    hand approached the button terminal, and, performing a little twirl with their index finger, tapped the button.
</p>
<p class="fiction-content">
    "Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-"
</p>
<p class="fiction-content">
    “Hey.”
</p>
<p class="fiction-content">
    The sound rang in the elevator. Bottled in the room with them, it bounced around the edges. One took no assumption
    that
    the exclamation was aimed at them, but clenched their hands together.
</p>
<p class="fiction-content">
    Unfettered by the lack of response, Two continued:
</p>
<p class="fiction-content">
    “Elevators, they used to have music in them, right?”
</p>
<p class="fiction-content">
    A trundle of cables on a pulley was accompanied by a nod from One, who darted their eyes up at Two for a second.
</p>
<p class="fiction-content">
    “It won’t quite be elevator-esque, but…”
</p>
<p class="fiction-content">
    Two pulled their stomach further into their body. They were holding files in their palms, which were now engrossed
    into
    their navel.
</p>
<p class="fiction-content">
    “I’ll be the music.”
</p>
<p class="fiction-content">
    One’s head lifted. An animal in reaction to a new stimulus.
</p>
<p class="fiction-content">
    “Just this once. You know… to give us something to do.”
</p>
<p class="fiction-content">
    One nodded again. He nodded directly at Two. And he spoke.
</p>
<p class="fiction-content">
    “Just this once.”
</p>
<p class="fiction-content">
    As they said this, the lights cut out. The air was severed and laid flat by the sharp reduction to darkness. An
    emptiness hung in the air.
</p>
<p class="fiction-content">
    From the shade, the top of their head every so often tipped with the murmuring glow of the outside, Two began to
    hum.
</p>
<p class="fiction-content">
    One acknowledged it as a simple tune. The humming itself was not special, it was not beautiful nor was it skillful.
    Yet,
    it caused One to close their eyes, and carelessly sway their head, side to side, ever so slightly. Two would
    sometimes,
    as far as One could recognise, hum a wrong note, or change the tempo, as if they were concerned that they wouldn’t
    finish the song in time. In that time, as the murk was enveloped by closed eyes, the 1.15 metre long space took on
    the
    comfort of riding in a vehicle. In its ascension, they drifted ever upward, into the clouds, through the atmosphere
    and
    into the stars that glittered on the inside of their conjunctiva.
</p>
<p class="fiction-content">
    For Two, One was barely present, a listener lurking in the unknown. But it was ‘just this once’. Nobody else needed
    to
    hear.
</p>
<p class="fiction-content">
    A cracking sound broke open the sky painted in One’s mind, the shattered shards of reality scattering and jabbing
    into
    their fragile body. As if awoken from a dream, One observed the Two that had been illuminated into their view. Their
    lips were still slightly ajar, but their song had ended.
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>
<p class="fiction-content">
    Two snorted, an acute expulsion of breath from their nostrils. Drawing up their folders into themselves, regaining
    composure, they stepped out of the elevator.
</p>
<p class="fiction-content">
    As they brushed past one another, the air gusting just enough to move their hairs by the smallest fraction of
    inches,
    Two forced three words from their lungs, words that percolated in the air before dissolving.
</p>
<p class="fiction-content">
    “See you tomorrow.”
</p>
<p class="fiction-content">
    One lingered in the elevator. Break time was over, they had to move on.
</p>
<p class="fiction-content">
    “See you then.”
</p>
<b class="chapter-heading">Break Time - Log 5 13:46</b>
<p class="fiction-content">
    INT. ELEVATOR - 13:46
</p>
<p class="fiction-content">
    We hear the elevator doors clang and grind with sounds of metallic gears, a suitably consistent and unchanging
    sound.
    Some would argue pleasant. Welcoming.
</p>
<p class="fiction-content">
    ONE enters the elevator. There, they encounter TWO, who is leaning against the compartment near to the button panel,
    as
    if denoted its eternal guardian.
</p>

ONE
(onely)
Hello.
TWO
(twoly)
Hi.

ELEVATOR VOICE
Your mandated break time begins now. Please select a floor.

<p class="fiction-content">
    TWO presses the button labelled 26 at a speed that suggests if they did not, somebody might reach it before them,
    removing something fundamental to their life, to their routine.
</p>

ELEVATOR VOICE
Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-

<p class="fiction-content">
    ELEVATOR VOICE is cut off, because it provides an answer unsatisfyingly obvious for everyone involved. There is no
    engineered reason for the voice to be cut off this time, no audible interruption by machine or person. No mechanical
    fault. Diagetically, it can be heard perfectly clearly within the elevator. ONE and TWO both hear it, they both
    acknowledge it, they both know what it means. But, here, it is not recorded. As if there are two words that must be
    withheld purely within those walls and never shared beyond them.
</p>
<p class="fiction-content">
    There is silence for a short while, until TWO breaches it.
</p>

TWO
Hey, do you have any bonus Minutes at the moment?

ONE
(checking through their files)
Only the ones I’ve been able to generate this week from my work. The current rate is +15% bonus Minutes per minute for
every extra minute worked, in accordance with the current mandated Minute Appreciation Rate, which is up from last
financial year’s +12%, so the current Minute market is quite lucrative. With that being the case, why do you ask?

TWO
(awkwardly)
I got a notice. They threatened to lower me. You… uh, do you mind spotting me a few extra Minutes? You must have some
spare. You look like the kind of person who’s always on overtime.

ONE
(mildly embarrassed)
I… actually don’t. I never work overtime.

TWO
Why’s that?

ONE
Floor Twenty Six has a certain atmosphere to it after the end of the work day. It’s hard to explain, but… it’s, well,
it’s like being swallowed. But, at the same time, it has a perfect atmosphere during the day. Still, calm, grey. I don’t
like how that changes after sunset, it’s unsettling.

TWO
And has that always been the case?

ONE
Not always

TWO
So that means there was a time when you worked overtime?

ONE
(hesitantly)
…Yes

TWO
So you must have some left over from then.

ONE
Potentially

TWO
…Let’s rock-paper-scissors for it. I win, I get two Minutes.

ONE
Two whole Minutes? I only have two, though…

TWO
Fine, then. One.

ONE
That means I’d have one left, and one is essentially as useful as having none.

TWO
True, I suppose. Not much market or trading value to be had in an amount that practically everyone shares. Alright then,
6 PT. That’s 15% of what I make on average in a day. If I can just prove I can make more than usual, regardless of
method, then they won’t lower me. I mean, they won’t raise me, either. But better to be stuck in the same place for a
bit than risk descending.

ONE procures an ELECTRIC DEVICE WITH A SCREEN from their bag and begins to input numbers.

ONE
The current exchange rate for Product Tokens to Minutes, well, in accordance with non-official exchanges due to a lack
of official channels for PT to M exchange as we receive them from different sources… is 50 PT per M. That’s a
fluctuational increase of 1 PT per M since yesterday, and 0.22 PT since an hour ago. Did you have this planned? Are you
planning to profit from me if you win rock-paper-scissors?

TWO
You keep an awfully close eye on the Minute market for someone who doesn’t do enough overtime to earn any.

ONE remains silent.

TWO
I think it’s pretty fair. I win, I gain 15%, you win, you gain 15%.

ONE
There’s still loss to factor in, there.

TWO
I only think about the loss when it comes to it. Making a decision like this, I’m facing guaranteed loss or a chance at
success, even if it’s slim. Gotta take that leap, sometimes.

ONE
And you don’t cheat at rock-paper-scissors?

TWO
Who do you take me for? What kind of gambler would I be if I didn’t in some way get a thrill from the fact that I might
lose?

ONE
I thought the loss wasn’t a factor.

TWO
Shush. You ready, then?

ONE
I am ready. One stipulation, though. If the elevator reaches our floor, we stop the game, no matter what other
agreements we’ve made. I don’t want something like this making me late…

TWO
Alright, deal. In that case, we better hurry up. I’ll call.

ONE
Understood.

TWO
Rock, paper, scissors-

ELEVATOR VOICE
Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit the
elevator.

<b class="chapter-heading">Break Time - Log 6 13:46</b>

<p class="fiction-content">
    The doors rolled open once more, like some creature awakening from its daily slumber, gears grinding and metal
    clanging.
</p>
<p class="fiction-content">
    When One entered the elevator, Two’s face was covered by their own hair, masking their eyes and lips. One extended a
    standard greeting, but Two said nothing, their hands flat against the wall, fingers spread. One approached the
    button
    hesitantly, although with perhaps near to no intention to actually press it, but as they did, Two’s hand, and only
    their
    hand, moved, up the wall, and gently pressed it.
</p>
<p class="fiction-content">
    “Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-”
</p>
<p class="fiction-content">
    “What do we do?” asked Two, voice steeped in a soft hollow.
</p>
<p class="fiction-content">
    One turned, but felt paralysed by how the usually brash Two had been pacified by something.
</p>
<p class="fiction-content">
    “What do we do now?” they repeated.
</p>
<p class="fiction-content">
    “W-What do you mean?” One eventually gave in, although unable to meet their eyes.
</p>
<p class="fiction-content">
    “I had a dream last night,” clarified Two. “I haven’t had a dream for ten years. Don’t tell anyone.” Their eyes were
    fixed on a distant, indistinct point far beyond the ceiling of the elevator.
</p>
<p class="fiction-content">
    “Instead of these walls,” continued Two, “there were mirrors on all sides. Although, they weren’t normal mirrors.
    The
    reflections all looked like me, but they moved differently. In their versions of the elevator, they were all doing
    something different. There were some blowing out the candles on a birthday cake, some playing catch with a dog, some
    lost in the sea of space. Every one of them was living their own life there. And inside me, there was this
    unshakable
    feeling that I needed to find something. I felt like that dog, chasing that ball, fifty mirrors down, except the
    ball
    was never in my mouth, it was always in a different mirror. Then, I turned around, and behind me, there was another
    mirror. And in that one, I saw a reflection of someone boring, someone with nothing, someone pulled down onto the
    ground. It was a normal mirror. I was looking at myself. Just before I woke up, I realised that the whole time I was
    in
    it, the elevator was going down, but only for me.”
</p>
<p class="fiction-content">
    There was a clunk, then a shudder as the room came to a halt. The stop was unexpected enough to knock Two from their
    wall perch, sending them to the floor. The room’s nature as a machine, as a thing, connected to wires and moved
    along
    cables, once again became abundantly clear, as all of the sounds that once accompanied the daily back and forth that
    had
    long since faded into the background now churned into a deathly noticeable silence that stole everything away.
</p>
<p class="fiction-content">
    Splayed on the ground, visible at first only by the gleam of their eyes dancing through the dark, struggling back
    into a
    position of bent arms and contorted torso, Two attempted to right themselves,
</p>
<p class="fiction-content">
    The entire elevator took on a sense of sleepiness to it, the touch of outside illumination becoming more like the
    faint
    brush of the tip of finger against the edge of a flower petal as it skimmed the edges, giving way to the heft of hot
    air
    and a choking thickness that pushed everything to the ground.
</p>
<p class="fiction-content">
    One crept forward through the musk, each step slow, as if trying to break through a constricting membrane that had
    leaked inside now that everything had stopped moving.
</p>
<p class="fiction-content">
    “Oh no… we’re going to be late. We’re going to be late. The elevator… if we don’t arrive at our floor in time… it’s
    definitely been more than 53 secon-”
</p>
<p class="fiction-content">
    Two pressed their lips to One’s, their unspoken words slipping away with the gap between them as it closed. One
    remained
    startled at first, but soon, the gleam in their eyes fluttered away as well. They remained in this state, stewing in
    the
    gloomy darkness, until Two pulled away, a string of saliva reaching to hold them together for a moment longer until
    it
    snapped.
</p>
<p class="fiction-content">
    Two filled their lungs with the thick musk that had come to settle in the elevator with them, the heat of their
    heavy
    breathes flushing One’s cheeks as they both stared at one another, unable to draw themselves away. The outline of
    Two’s
    form, their body slumped on all fours, thighs folded, hands thrust onto the floor, was almost bestial to One, but
    seeing
    Two in such a way elicited a twinge along their spine, a shock that carried an unusual warmth. One could see almost
    nothing at all except the pierce of Two’s eyes and this vague outline, one that appeared almost threatening or alien
    as
    it dipped in and out of the dark. Yet, One found nothing but comfort in it, their shoulders gradually, and
    instinctually, relaxing, in a way that One could not recognise as comfort or some form of acceptance of defeat.
</p>
<p class="fiction-content">
    The electric lamps flickered back to life. The figures of One and Two, still crouched near to the floor, were bathed
    in
    a light that they had yet to recognise, as if still clinging to, and wishing to return to, the darkness it had
    stolen
    from them. With a series of grinding gears, power returned to the cables, and they began to ascend once again.
</p>
<p class="fiction-content">
    Now bathed in light, no more words were exchanged between the two of them. The phantom twinge of pressure of One’s
    lips
    was the only living reminder that the moment had happened, and, as they brushed their fingertips over their mouth,
    the
    movement of their own fingerprints seemed to erase even that, until One themself questioned whether anything had
    happened at all.
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>
<b class="chapter-heading">Break Time - Log 7 13:46</b>
<p class="fiction-content">
    “Suppose this elevator never stopped.”
</p>
<p class="fiction-content">
    One couldn’t recall when they entered the elevator that day. The image of the elevator door, the recognisable
    grinding
    of it opening, the inoffensive statement of the tannoy. There was no evidence of it in One’s memory, like it had
    been
    wiped, as if the day had only started when there was an interaction between them and Two.
</p>
<p class="fiction-content">
    “What?” asked One.
</p>
<p class="fiction-content">
    “Suppose this elevator never stopped,” repeated Two.
</p>
<p class="fiction-content">
    "Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-"
</p>
<p class="fiction-content">
    “What if one day Floor Twenty Six just stopped existing,” enforced Two, whose button press was equivalent to a lean
    of
    their shoulder against the panel, an afterthought, “we press the button, and the elevator moves, but we just keep
    ascending, never reaching it.”
</p>
<p class="fiction-content">
    “Uh… that would be silly, I suppose. Why are you asking this?” One’s pace quickened toward the end of the sentence.
</p>
<p class="fiction-content">
    “Just a bit of fun.”
</p>
<p class="fiction-content">
    Even though it felt unforgivable, One’s mind lingered on the past. On the inerasable mark that Two’s lips had left
    on
    theirs. Even so, they persevered in convincing themself that this time and that time were separate, just like how a
    morning meeting and an evening meeting would always have to discuss different topics, or how two spreadsheets could
    not
    contain the same piece of information twice. Naturally, this thought process only further inspired their answer.
</p>
<p class="fiction-content">
    “Well… it would give me more time to eat my lunch? But it would mean I miss my meetings, and I wouldn’t be able to
    fill
    in the monthly reports, or complete any of my tasks.”
</p>
<p class="fiction-content">
    “You’d run out of food quickly. We’d have to eat the light fixings and the buttons.”
</p>
<p class="fiction-content">
    One’s face mustered a contorted expression at the thought.
</p>
<p class="fiction-content">
    “Yeah,” agreed Two. “Can’t imagine those buttons taste good.”
</p>
<p class="fiction-content">
    “I think even in that situation, the fact that we might go on forever wouldn’t occur to me,” said One, eager to
    change
    the topic, scraping their tongue against their teeth to rid themself of the imaginary flavour of old sweat-ridden
    elevator buttons. “We came from somewhere, so we must also be going somewhere as well. I trust this elevator to get
    us
    where we’re supposed to go. To Floor Twenty-Six. Even if it took us somewhere different, the most I could assume it
    would do is take us to Floor Twenty-Six-And-A-Half, by which I mean, stop short or late at our floor, giving us only
    half a door’s gap to exit. These are reliable elevators. There hasn’t been an incident of them being faulty in…
    forever.”
</p>
<p class="fiction-content">
    “Well, do you remember getting on the elevator?”
</p>
<p class="fiction-content">
    “I do,” One lied. “How else would I be here?”
</p>
<p class="fiction-content">
    “Can you really be sure of that, though?”
</p>
<p class="fiction-content">
    “Of course.”
</p>
<p class="fiction-content">
    “Prove it,” spat Two, arms crossed.
</p>
<p class="fiction-content">
    “Um… the lobby. The sign-in desk window… thing. Behind it, there’s… fifty lockers. All the ones that contain our
    sign-in
    cards. No, maybe fifty one, because there’s that big, oblong one at the end that might be a store cupboard. The area
    behind the desk is lit up with two big spotlights. And there’s a long LED bar above the window, too.”
</p>
<p class="fiction-content">
    “Window?”
</p>
<p class="fiction-content">
    “Slot. Opening. The section of wall that’s been breached so we can receive our cards from the automated file
    machines.
    The process takes exactly-”
</p>
<p class="fiction-content">
    “52 seconds.”
</p>
<p class="fiction-content">
    “-...54 seconds.”
</p>
<p class="fiction-content">
    “And the LED spotlights, they’re…?”
</p>
<p class="fiction-content">
    “B-Blue.”
</p>
<p class="fiction-content">
    “...Orange.”
</p>
<p class="fiction-content">
    “...What? N-No. Is that even possible? The building must have multiple entrances and multiple lobbies. It would make
    sense. Who knows how many of us are working here.”
</p>
<p class="fiction-content">
    “Who knows?” Two asked in a way that implied an actual question.
</p>
<p class="fiction-content">
    “Somebody, surely. It’s probably somebody’s job to know.”
</p>
<p class="fiction-content">
    “But we both enter the elevator from the same side, and we have work on the same floor at around the same time.”
</p>
<p class="fiction-content">
    “I never see you outside the elevator, though.”
</p>
<p class="fiction-content">
    “Maybe we don’t exist outside it,” smirked Two, but this smarmy response only elicited a sense of mild disturbance
    in
    One, so Two shifted to another question.
</p>
<p class="fiction-content">
    “What colour suits do they wear?”
</p>
<p class="fiction-content">
    “Suits?”
</p>
<p class="fiction-content">
    “The workers on the floor leading to the elevator bay.”
</p>
<p class="fiction-content">
    “Workers? Sorry, I’m not sure what you’re talking about.”
</p>
<p class="fiction-content">
    “The hallway outside where we enter the elevator. It has low ceilings and corrugated steel doors, with square
    ceiling
    lamps, with abnormally large air vents and seemingly the same fire alarm lodged in the wall every 200 metres.”
</p>
<p class="fiction-content">
    “I know the one. Doesn’t that prove that we came from somewhere?”
</p>
<p class="fiction-content">
    “So what colour suits do they wear?” Two insisted on this new line of questioning, as if the previous hypothetical
    were
    a different timeline and they were forbidden from cross-contamination.
</p>
<p class="fiction-content">
    “I’m still confused.”
</p>
<p class="fiction-content">
    “The people that work there.”
</p>
<p class="fiction-content">
    “But nobody works there. It’s just a hallway, isn’t it?”
</p>
<p class="fiction-content">
    “You must just not be looking. They all wear livid suits over white shirts, and go in and out of those corrugated
    doors.”
</p>
<p class="fiction-content">
    “But those doors never open. I assumed they were some manner of holdover from when the company was under different
    management.”
</p>
<p class="fiction-content">
    “Has the company ever been under different management?”
</p>
<p class="fiction-content">
    “I’m unsure of that, actually. Somebody must know, though.”
</p>
<p class="fiction-content">
    “Whose management are we under now?”
</p>
<p class="fiction-content">
    “Somebody. I think their name was Liv. Or Peter. McKerrick. Baofu. Arakale. One of those is right.”
</p>
<p class="fiction-content">
    “...Now that I think about it, where could those corrugated doors go? There’s nothing that could fit on that side of
    the
    hallway. There’s something to the west, and something to the east. I think.”
</p>
<p class="fiction-content">
    “Maybe it’s best we don’t think about it. We know what the elevator looks like. We know where it goes. We know how
    long
    it takes. I think we should keep our heads focused on being in here.”
</p>
<p class="fiction-content">
    There was a moment in which a whir from the cables snuck in between their words, before Two blurted out another
    splinter
    in the conversation.
</p>
<p class="fiction-content">
    “...Do you think they play instruments?”
</p>
<p class="fiction-content">
    “Instruments? As in…”
</p>
<p class="fiction-content">
    “The kind they have in bands. I think that uniform would make a good band uniform.”
</p>
<p class="fiction-content">
    “Band uniform? Well, I’ll have to take your word for it… I’ve never seen it before.”
</p>
<p class="fiction-content">
    “Can you imagine it, though?”
</p>
<p class="fiction-content">
    “Imagine people that I’ve never seen wearing an outfit I’ve never seen playing instruments I’ve never seen in a room
    I’ve never seen that also may not even exist?”
</p>
<p class="fiction-content">
    “Yeah. When you say it like that, you make it sound ridiculous. Is it really that out-there? When none of us are
    looking, in a room none of us can get to… four of those employees sneak in with bags full of trumpets and guitars
    and
    just… play.”
</p>
<p class="fiction-content">
    “What about that room on the south wing of the building? Or north. The room with the ludicrously tall ceiling that
    contains only one giant cream staircase with banisters too high for any of us to reach? Wouldn’t that be better for
    acoustics?”
</p>
<p class="fiction-content">
    “I’ve never seen it. I thought this building only had elevators. Have you seen how many floors are advertised on
    these
    buttons? How would having stairs be in any way efficient?”
</p>
<p class="fiction-content">
    “I don’t know, I’ve only seen pictures.”
</p>
<p class="fiction-content">
    “Pictures? Of a giant staircase?”
</p>
<p class="fiction-content">
    “Mhm, there were pictures of a cream staircase in a cream photo frame in a cream room I went into once. There was
    nothing else in there. Only the pictures, oh, and one coffee machine that only made latte. Somebody told me it was
    photographed in the building.”
</p>
<p class="fiction-content">
    “Were they all the same picture? It’s the same staircase, isn’t it?”
</p>
<p class="fiction-content">
    “Not quite. They were taken at different angles. In one of them, there was a cat climbing about halfway up. Or, it
    looked like a cat. Because it was such a wide angle image, everything on it was tiny, so it was a small black speck
    with
    four legs, ears and a tail. The cat was leaping from one step to another, upward, and was chasing a mouse, a mouse
    so
    small and imperceivable that I had to squint to recognise that there was anything else in the photo at all. If I
    hadn’t,
    it would have looked as if the cat was running up the stairs on its own, chasing after nothing.”
</p>
<p class="fiction-content">
    “And in the other ones?”
</p>
<p class="fiction-content">
    “All the same except one other one, which was identical excluding the fact that the stairways were multiplied and
    crossed over one another, and they all converged upside down at the top of the frame at a neon green exit sign. This
    photo obviously wasn’t real, I looked at it more closely and realised it was a highly detailed painting. So detailed
    that the only thing telling it apart was a slight texture where the pain had been used. But, when I walked out and
    saw
    all the photos I had seen before on my way past again, it looked like they all had this texture to them.”
</p>
<p class="fiction-content">
    “So it’s not a real room, then?”
</p>
<p class="fiction-content">
    “Maybe. But, as you said, this wouldn’t stop your imaginary band from playing in it.”
</p>
<p class="fiction-content">
    “Good point. So, the lead guitarist. Tallulah, let’s call them. They’re shredding it up in front of the mint-green
    horizontal art deco wall furnishing. Like, properly leaning into it, hips and all, whipping their hair around, raw
    fingertips, the lot.”
</p>
<p class="fiction-content">
    “And this takes place in the corrugated metal room?”
</p>
<p class="fiction-content">
    “It could. Or it could be anywhere.”
</p>
<p class="fiction-content">
    “So somebody could, perhaps… uhm…” One pondered, prodding at the rim of impossibility, “enter the room with a
    flashlight, because, uh, the room isn’t connected to the grid. And there’s a motorbike in there, with a tambourine
    on
    the handlebar. And they pick it up and join in. Uh, perhaps they’re called… Incidental 106.”
</p>
<p class="fiction-content">
    Two’s eyes bulged and their cheeks inflated, before unleashing a snort-prefaced giggle. One tilted their head to the
    side in confusion.
</p>
<p class="fiction-content">
    “Incidental 106… yeah, yeah, sure,” Two replied in the simmering throes of fading laughter, flicking a tear away by
    catching it on their fingernail. “I guess that having music in it would make the room feel like it’s supposed to be
    there. And people like Tallulah and Incidental 106.”
</p>
<p class="fiction-content">
    “Is that why you suggested that?”
</p>
<p class="fiction-content">
    “Maybe. I just like the sense of rhythm to it. Everything makes sense if there's music. I think I could be convinced
    by
    anything so long as it was accompanied by music.”
</p>
<p class="fiction-content">
    Without realising it, One and Two had long since passed Floor Twenty, and the elevator had turned dark. Two, in a
    faltering tone, whisper-sung a song that One couldn’t recognise for the rest of the journey, until, eliciting a
    slight
    shock from One, they spoke again.
</p>
<p class="fiction-content">
    “My partner.”
</p>
<p class="fiction-content">
    “Hm?”
</p>
<p class="fiction-content">
    “My partner worked in that hallway.”
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>

<b class="chapter-heading">Break Time - Log 8 13:46</b>
<p class="fiction-content">
    Doors rolled open. Hungry beast. Sapping. Consuming.
</p>
<p class="fiction-content">
    One entered, but there was no Two to be found. The elevator was its clear and unblemished self, but the otherwise
    pristine mint paint was tinged with a lingering disquiet.
</p>
<p class="fiction-content">
    "Your mandated break time begins now. Please select a floor."
</p>
<p class="fiction-content">
    One felt as if pressing the button was an unforgivable action, a role not ordained to them, and yet, with time
    ticking
    forward, there was no other choice.
</p>
<p class="fiction-content">
    "Ascending to Floor TWENTY - SIX. Please enjoy your break, your allotted time is-"
</p>
<p class="fiction-content">
    The elevator panel crackled, shooting out errant sparks that caused One to draw their arms into their chest and
    totter
    backwards. The wall brushed against their back, absorbing their worry and dispersing it across the room, and their
    body
    slumped to the floor.
</p>
<p class="fiction-content">
    The lights dimmed as the metal box passed Floor 20. The thrumming of the electrics petered to a whisper, and slivers
    of
    outside air filtered in through the gaps, invading the space and pushing out used oxygen in tandem with the rising
    and
    falling of One’s chest. The thick orange beams painted seemingly inerasable lines on the wall just above their head,
    and
    flecks of dust hovered in a state of semi-stasis, moved only by the exchange of moisture-laced gases.
</p>
<p class="fiction-content">
    There was a dripping from the roof vent. Droplets of water that transformed into trickles. One swiped up some of the
    liquid onto a finger and inspected the dew, but before long, more beads fell and collected on their arms and legs.
</p>
<p class="fiction-content">
    The slits began to vomit floes of water, too, belching and sloshing, churning with the light until it appeared solid
    inside, gushing like crystalline streams of set honey.
</p>
<p class="fiction-content">
    Despite the rushing rise of the water around them, white peaks and bubbles forming on the surface, One’s body never
    rose
    with it. They stuck to the floor like a stone, and panic frothed to the top of their eyeballs, scooping and driving
    their hands through the torrenting liquid in hopes that any one of these increasingly frivolous motions might move
    them
    an inch forward, a centimetre upwards. If they could simply rise with the water, they could reach the hatch above,
    wrench it open with their wrinkling fingers and escape to the freedom above.
</p>
<p class="fiction-content">
    But, as the water reached their neck, curling at their chin, One realised. Above was where the water was coming
    from. If
    they opened the hatch, the rest would flood in, and they would drown in an instant. Whatever lied above them was
    some
    manner of incomprehensible catastrophe, a raging, endless surge of violent tides. Even if they survived, where would
    they be washed to? Would there be an end? Would One be adrift on an endless sea, never to arrive at their 14:00
    meeting?
    Never to return to the elevator?
</p>
<p class="fiction-content">
    Amongst all of this, something tangible brushed against One’s fingers. Something sodden but solid, fine, soft.
    Following
    along it, One’s hand met a round, warm object coated in the fine substance, and found themselves overcome by a
    subconscious desire to run their hand over it. The more they did so, the more the heat became less alien and more
    comforting, the more they recognised that the heat was spreading along their hands to their chest and to the skin of
    their thighs, until the water that lapped at their eyelids to the point of submersion no longer felt cold, but
    instead,
    like an all-encompassing membrane, with a temperature matching their own, like the liquid inside their body and the
    liquid without were one and the same. As the water rose above the tip of their head and they sank below it, One
    finally
    found themselves able to float, but the fear had drained from their eyes, and their eyelids sank along with them,
    until
    they were closed, and everything was drowned in an impeccable dark.
</p>
<p class="fiction-content">
    A great gushing followed, the dregs of liquid washed away until not even a puddle or droplet remained. Once their
    eyes
    opened again, One saw that the ceiling lamps were lit as if they were never turned off. In fact, they were in the
    place
    where the hatch had been. Their fingers instinctively curled, and met a squishy texture. Glancing down, they found
    that
    they were touching an earlobe. Two’s head was resting in their lap, and they groggily lifted themselves up, rubbing
    the
    cheek with an index finger.
</p>
<p class="fiction-content">
    “Huh… oh… you’re awake. Is it time yet?”
</p>
<p class="fiction-content">
    One glanced up at the slits and still saw a vague movement among the endless pipes and formless dark-grey building
    segments.
</p>
<p class="fiction-content">
    “N-Not yet.”
</p>
<p class="fiction-content">
    Two rose up from One’s lap and brushed themselves off, as if aware that some invisible substance had been gathering
    there. Resting their weight on their knees, it was as if they were waiting for their spirit to settle.
</p>
<p class="fiction-content">
    “Sorry if it was out of order for me to rest on you like that. You walked in the elevator and before I knew it you
    were
    out like a light. Kind of reminded me that I could do with a sleep too, but, well, I’m the kind that struggles
    without
    something soft.”
</p>
<p class="fiction-content">
    “That’s… that’s okay.”
</p>
<p class="fiction-content">
    "Welcome to Floor TWENTY - SIX. We hope you enjoyed your break. Your allotted time has now concluded. Please exit
    the
    elevator."
</p>
<p class="fiction-content">
    Two sighed, reaching for their bags and files that had been strewn in the corner. “Do we have to?”
</p>
<p class="fiction-content">
    “I think so.”
</p>
<p class="fiction-content">
    “Think so?”
</p>
<p class="fiction-content">
    “Yes.”
</p>
<p class="fiction-content">
    Two trudged to the door, holding onto the edges for support, somewhat sleep-drunk.
</p>
<p class="fiction-content">
    “Hey,” Two called out to One.
</p>
<p class="fiction-content">
    “Yes?”
</p>
<p class="fiction-content">
    “They caught it, you know.”
</p>
<p class="fiction-content">
    “Caught it?”
</p>
<p class="fiction-content">
    “Well, not caught, they found out what it was. A lot of different names going around, though, about who was
    responsible.
    Something beginning with ‘O’.”
</p>
<p class="fiction-content">
    “Oh?”
</p>
<p class="fiction-content">
    “Yeah. Oh.”
</p>
<p class="fiction-content">
    Hidden behind one of the metal bands encasing the bulb, one final bead of water dripped from the ceiling and,
    soundlessly, struck the floor of the empty elevator.
</p>
<b class="chapter-heading">Break Time - Log 9 46:13</b>
<p class="fiction-content">
    [Noted error in log-taking. Origin of person or machine responsible for logging unlocatable in database. Full-scale
    search into nature and accuracy incomplete due to foreign feline intruder located in Stairwell B, seen chasing an
    unknown entity toward higher floors. All further logs will be cataloged and unavailable for civilian viewing unless
    overridden, or until the feline has been apprehended, or both. This is an automated message.
</p>
<p class="fiction-content">
    Signed, Olivia ‘Liv’ Peter McKerrick Baofu Arakale
</p>
<p class="fiction-content">
    P.S. who replaced the coke in the fridge again, I told you, I only like diet. yes, I have no idea what it tastes
    like]
</p>
<b clas="chapter-heading">Break Time - Log ??? 13:46</b>
<p class="fiction-content">
    The familiar doors rolled open once more. Gears grinded, metal clanged, but all that One hoped to see and hear was
    Two,
    and so their brain blocked out all else.
</p>
<p class="fiction-content">
    Two swirled to the side as the doors parted, and waltzed up to One.
</p>
<p class="fiction-content">
    “Hello again.”
</p>
<p class="fiction-content">
    “Hi.”
</p>
<p class="fiction-content">
    One soon breezed inside as well.
</p>
<p class="fiction-content">
    "Your mandated break time begins now. Please select a floor."
</p>
<p class="fiction-content">
    Two’s eyes hovered around the worn, sweat-weathered buttons, inspecting them, but their attention was caught by
    something else. With that, they tilted their gaze toward One.
</p>
<p class="fiction-content">
    “You know…”
</p>
<p class="fiction-content">
    “Hm?”
</p>
<p class="fiction-content">
    One shuffled closer, leaning down so their head met Two’s shoulder level.
</p>
<p class="fiction-content">
    “There’s 52 buttons here. 52 buttons that all go somewhere, otherwise why would they exist.”
</p>
<p class="fiction-content">
    “...Yes, I suppose so. What makes you so curious?”
</p>
<p class="fiction-content">
    The announcer repeated its droning phrase once again.
</p>
<p class="fiction-content">
    “Please select a floor.”
</p>
<p class="fiction-content">
    “If that’s the case, then why has nobody pressed the button for floor 52 yet?”
</p>
<p class="fiction-content">
    One’s slight smirk drew into a pout. This question shouldn’t concern them at all. In fact, it never even occurred to
    them. Never even occurred to them that any other button beyond the one labelled ‘26’, a label that had merged so
    much
    with the button that only those who have to press it every day would be able to find it on their first try.
</p>
<p class="fiction-content">
    “Well, maybe nobody has any business there?”
</p>
<p class="fiction-content">
    “Then why have a button for it?”
</p>
<p class="fiction-content">
    “Um…”
</p>
<p class="fiction-content">
    “Maybe it’s an office?”
</p>
<p class="fiction-content">
    “Please select a floor.”
</p>
<p class="fiction-content">
    The third announcement rang louder, vibrating across the walls.
</p>
<p class="fiction-content">
    "Ascending to Floor FIFTY - TWO.”
</p>
<p class="fiction-content">
    “Fifty Two?”
</p>
<p class="fiction-content">
    One jerked their head up from their perplexity to see Two’s finger hovering over the pristine button, which, now
    that
    they were looking at it, was free of the sweaty wear that appeared across the other buttons in varying degrees. Two
    wore
    an expression One had never seen before, and could barely describe. An expression that looked prideful, but laced
    with
    regret.
</p>
<p class="fiction-content">
    “Please enjoy your break, your allotted time is-”
</p>
<p class="fiction-content">
    A long, piercing, beep-addled static noise wracked the air at the end of the announcement. After some time, it
    stopped,
    but its effects lingered in the ears of One and Two.
</p>
<p class="fiction-content">
    As the elevator churned into life, One darted about the room.
</p>
<p class="fiction-content">
    “How long do we have? How long is BEEP seconds, exactly?” One’s tone was layered with worry, but underpinned with a
    tinge of excitement.
</p>
<p class="fiction-content">
    “I don’t know.”
</p>
<p class="fiction-content">
    “We’ll be late.”
</p>
<p class="fiction-content">
    “I know.”
</p>
<p class="fiction-content">
    “Doesn’t that bother you?”
</p>
<p class="fiction-content">
    “Not anymore.”
</p>
<p class="fiction-content">
    One, having tired themselves out from checking every corner and jumping up to spy through the window slits, slumped
    down
    against the wall on one side of the button panel. Joining them was Two, sat across on the other side.
</p>
<p class="fiction-content">
    One lost focus, and their view melded with the sanitised mint of the wall design.
</p>
<p class="fiction-content">
    “Not anymore…?”
</p>
<p class="fiction-content">
    “Have you ever been to any other floor besides 26?”
</p>
<p class="fiction-content">
    Two’s question evaporated before One had a chance to fully grasp it.
</p>
<p class="fiction-content">
    “I went to floor 1 when I first started here. I think. There’s the floor we enter the elevator from, too. I don’t
    think
    that floor even has a number, though. Or maybe it does, and I’ve never seen it.”
</p>
<p class="fiction-content">
    “Do you remember how long ago that was?”
</p>
<p class="fiction-content">
    “No. Honestly, I don’t.”
</p>
<p class="fiction-content">
    “Haven’t you ever wanted to see what the other floors were like?”
</p>
<p class="fiction-content">
    “I always just assumed they all looked the same. Maybe with some different rooms depending on utility. Whenever I
    try to
    imagine the building as a whole, it’s just one, big, tall structure where the same floor is copied and pasted on top
    of
    one another, and they all resemble 26 in some way or another, but maybe with a change in detail here and there. A
    different lamp in one, a different coloured stripe of paint in another.”
</p>
<p class="fiction-content">
    One then turned to Two, and they met each other from either side of the buttons. Their hazy purple glow became the
    only
    source of visibility as the lights sputtered out.
</p>
<p class="fiction-content">
    “What made you want to go to floor 52?”
</p>
<p class="fiction-content">
    “I can’t really say. If I were to put it into one word, I’d call it ‘curiosity’”
</p>
<p class="fiction-content">
    “But why today?”
</p>
<p class="fiction-content">
    “Does it have to happen on a particular day? It’s not like we do anything else here. Let me ask you something. Do
    you
    know what the date is?”
</p>
<p class="fiction-content">
    “It’s…”
</p>
<p class="fiction-content">
    One squeezed a small pager-like device from their pocket. Clicking a button on the side, a display appeared. Etched
    in
    pixels was the day at the top, and then a list of times below. Highlighted in a more overwhelmingly iridescent green
    was
    the current time, and the associated activity: Break Time.
</p>
<p class="fiction-content">
    “Thursday. Yes, it’s Thursday, of course.”
</p>
<p class="fiction-content">
    “No. What date.
</p>
<p class="fiction-content">
    “Date? Uh…”
</p>
<p class="fiction-content">
    They thought for a moment.
</p>
<p class="fiction-content">
    “Can I get a hint?”
</p>
<p class="fiction-content">
    “We’re not playing a quiz game.”
</p>
<p class="fiction-content">
    “Do you know what the date is?”
</p>
<p class="fiction-content">
    “...No, I don’t think I do either. It at least begins with a 2, but I might be wrong. Anyway, my point is that we do
    the
    same thing every day at the same times every day. I don’t think it matters when we decide to go to a different
    floor. It
    just matters that we are.”
</p>
<p class="fiction-content">
    “But we have nothing to do there. Our timetables only cover work on floor 26. Why would it matter that we’re going
    there.”
</p>
<p class="fiction-content">
    “I don’t know that yet.”
</p>
<p class="fiction-content">
    “Then why are we going there?”
</p>
<p class="fiction-content">
    “Because I want to know what’s there.”
</p>
<p class="fiction-content">
    “Even if it’s nothing? Even if it’s a floor that looks exactly identical to floor 26?”
</p>
<p class="fiction-content">
    “Even if the only difference is a different lamp. Even if it’s just another elevator.” Two unfolded their arms and
    faced
    One directly, with legs set apart. “There’s only one thing in this world I love. Not a person, not an object or even
    a
    song. It’s a concept. The concept of irrational acts. Nothing makes my heart race more than that.”
</p>
<p class="fiction-content">
    “...Right. Then, I’ll go too.”
</p>
<p class="fiction-content">
    The light pouring from the slit windows high above them felt warmer and warmer as they ascended, developing a thick,
    orange hue. The stuffy soup that once filled the shaft began to be shaved away layer by layer and replaced by a
    soft,
    sharp and clear scent. Angling downward, the slits painted the light across One’s face like a mask and they rose
    from
    the ground to once again attempt to peek outside.
</p>
<p class="fiction-content">
    The rattling and ringing came to a halt as the elevator had reached what One and Two could only presume was a
    destination.
</p>
<p class="fiction-content">
    "Welcome to Floor FIFTY - TWO. We hope you enjoyed your break. Your allotted time has now concluded. Please exit the
    elevator."
</p>
<p class="fiction-content">
    A hollow clatter of empty metal was accompanied by a squeezing pressure, as the familiar doors parted to reveal the
    unfamiliar beyond them. A gentle gust was drawn into the 1.15 metre long and 0.95 metre wide box and opened it out
    wide,
    and the distance from the back wall of the elevator to the edge of the landscape now beyond it seemed immeasurable.
</p>
<p class="fiction-content">
    One and Two stood in awe. They dared not move an inch, dared not move a single measurable millimeter. The deep
    tangerine
    glow that beamed across the horizon forced its way between the walls, melding them into a fresh, potent emerald.
</p>
<p class="fiction-content">
    After some time suffusing their nostrils with the clean aura, One edged forward, leaning, placing their hand to
    their
    forehead to shield themselves as their head entered the threshold of light that was being cast halfway across the
    floor.
</p>
<p class="fiction-content">
    “Doesn’t it look like there’s something… above us?”
</p>
<p class="fiction-content">
    Two squinted, narrowing their gaze to grasp what lied beyond. Walking, they stepped out fully from the elevator,
    which
    elicited a jolt from One, who darted a bit closer, but still remained in their confines.
</p>
<p class="fiction-content">
    “I can’t tell.”
</p>
<p class="fiction-content">
    One edged as far as they could forward without exiting.
</p>
<p class="fiction-content">
    “Floor 53, maybe?”
</p>
<p class="fiction-content">
    Lost in the distance, Two replied with a nod at first, pausing, before realising they needed to answer.
</p>
<p class="fiction-content">
    “Maybe.”
</p>
<p class="fiction-content">
    “Do you... Do you want to go there, too?”
</p>
<p class="fiction-content">
    Subconsciously, Two had made a couple more steps ahead, but still stood in close proximity to the elevator. In One’s
    sight, they were still framed by the outline of the elevator door. They turned back to face One, resembling a
    silhouette
    bathed in an unnatural light.
</p>
<p class="fiction-content">
    “Why, do you?”
</p>
<p class="fiction-content">
    “We’ve come to Floor 52. We might as well keep going. At least, that’s what I just thought. That’s what it looks
    like
    you would want to say.”
</p>
<p class="fiction-content">
    “Well then. Our break’s over now. We should get to work.”
</p>
<p class="fiction-content">
    Reaching out their palm, dusted with particles carried by the fresh wind that passed through its slim crevices, Two
    stood firmly outside the elevator. Their hand, thrust outward and resolute, shivered and twitched.
</p>
<p class="fiction-content">
    One hesitated, one foot still planted inside the elevator, and the other halted above the ground outside it.
</p>
<p class="fiction-content">
    “Can I ask one more thing, before we go?”
</p>
<p class="fiction-content">
    “Sure, of course.”
</p>
<p class="fiction-content">
    Now closer to it, the radiance of the outside became palatable to One, and Two’s shadowed form melted away,
    revealing a
    forlorn smile, something One never believed would be there.
</p>
<p class="fiction-content">
    “What’s your name?”
</p>
<p class="fiction-content">
    Finishing their question, One placed their foot outside the elevator, and lifted the other across the gap to join
    it,
    grasping Two’s hand as they did. The welcoming heat, the mildly sweaty, rubbery, squishy, supple sensation. One’s
    lips
    warped, turning their corners upward, ever so slightly, and looked to meet the face of the one that owned this hand.
</p>
<p class="fiction-content">
    “I’m-”
</p>
<p class="fiction-content">
    -- This concludes the Elevator Break Log for Ainsley Zimmerman, otherwise identified as One. All information
    expressed
    and exchanged, physically or orally, after this Log’s conclusion occurs outside the confines of the elevator, and as
    such, can no longer be recorded --
</p>