<article class={{genre}}>
  <div class="badge">{{displayGenre}}</div>
  <h3>{{displayGenre}}: {{displyTitle}}</h3>
  <div class="author-name"><a href="author.html">{{displayContributor}}</a></div>
  <br>
  <a href={{entryURL}}.html>Read more</a>

</article>