<!DOCTYPE html>
<html lang="en">
{{>html-header}}
<body>
    {{>menu}}

    {{#issues}}
        {{>issue-display}}
    {{/issues}}

    <footer>
        <p>&copy; 2023 r/litfiction</p>
    </footer>
</body>
</html>
