<!DOCTYPE html>
<html lang="en">
{{>html-header}}
<body>
    <header>
        <h1>The Reading Room</h1>
        <br>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Issues</a></li>
                <li><a href="#">Submit</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="issue-title">
        <h1>Issue 1</h1>
    </section>

    <section class="latest-pieces">
        {{#entries}}
            {{>entry-box}}
        {{/entries}}
    </section>

    <footer>
        <p>&copy; 2023 r/litfiction</p>
    </footer>
</body>
</html>
