<p class="fiction-content">
    “Helen! Sorry I’m late,” Troy said, adjusting the open collar of his shirt.
</p>
<p class="fiction-content">
    She smiled, “It’s alright, you gave me time to look over the menu.” She said, lowering the letterpressed cardstock
    and picking up her martini. Troy quickly situated himself as their waiter arrived, making sure every strand of his
    slicked back hair was in place.
</p>
<p class="fiction-content">
    “I’ll take a Boulevardier, and bring her a second.”
</p>
<p class="fiction-content">
    “I’ll be right back with these drinks.”
</p>
<p class="fiction-content">
    Troy leaned forward at the table, “You see that guy?” he said, motioning to the waiter, “I went to business school
    with him. Hell, he even interned at PJT. Makes me sick to see someone so smart working in a job for teenagers.”
</p>
<p class="fiction-content">
    “Your profile said you were in finance, is that right?”
</p>
<p class="fiction-content">
    “A private investment firm. Just last week I had lunch here with my business partner, had to valet the Porsche,
    Lambo is in the shop again. You ever ridden in a Lambo?” he asked, pulling apart the bread at the table. He made
    sure his sleeves were rolled up to show off the Rolex.
</p>
<p class="fiction-content">
    “Can’t say that I have.” She put her drink down. “Well, Troy, since you’re a regular, what’s the best thing on the
    menu?”
</p>
<p class="fiction-content">
    Troy waved the butter knife in protest, “I already ordered us the chef’s menu. Nothing worse than having to decide
    on what to eat. Restaurants should do away with menus altogether. Like, come on, make one thing really well and just
    serve that, don’t make me pick something that might be terrible just because you want to fluff up your menu. The
    chef here and I go way back, he’s one of the best.”
</p>
<p class="fiction-content">
    “Come on now, what if you wanted to try something new?”
</p>
<p class="fiction-content">
    “Then you go to a different restaurant,” he said, mouth full of buttered sourdough. “I go to a burger place for
    what? A burger and fries. That’s what they should serve to everyone, no subs, no changes. That way the idiots in the
    kitchen can’t screw it up.”
</p>
<p class="fiction-content">
    Helen finished her martini. “You don’t think your chef friend can make two different kinds of burgers?”
</p>
<p class="fiction-content">
    “Of course he can, but he is a real chef, not a shitty burger cook. Those guys can’t stop screwing up. You know
    Buster’s on 38th street?”
</p>
<p class="fiction-content">
    Helen nodded.
</p>
<p class="fiction-content">
    “Right, so every time I go to Buster’s I ask for no mayo on my burger. Every time. And every time I sit down to eat
    there I get a mouth full of disappointment. I’m where I am financially because I don’t make mistakes.”
</p>
<p class="fiction-content">
    The first course arrived, a dish of elegantly arranged sashimi. “You ever had sushi in Japan, Helen?”
</p>
“I can’t say that I have. I’ve been a few times but there is just so much more to eat.”
</p>
<p class="fiction-content">
    “You know how they say wine is better in France or whatever? Anyway, I know a guy in Osaka, amazing sushi. But you
    won’t find better in this town that’s for sure. I’ve known the chef here since college.”
</p>
<p class="fiction-content">
    Helen smiled. The waiter arrived to remove the empty plates and serve the next course. “I’m glad to hear you like
    the food so much.” She paused, putting her hand on the waiter’s arm after he lowered her new plate. “Oh Brian, dear,
    could you have Paul come by our table? I want to let him know how well the kitchen is doing.”
</p>
<p class="fiction-content">
    Brian nods, “Yes mam, I’ll be right back.”
</p>
<p class="fiction-content">
    “You don’t need to do that, I’m sure he is busy.”
</p>
<p class="fiction-content">
    “Nonsense, he has an army back there. Here he is now. Hello Paul!” She said standing up to greet him.
</p>
<p class="fiction-content">
    “Miss Parker! How nice to see you this evening. Is everything alright?”
</p>
<p class="fiction-content">
    “Oh yes, everything is great, your friend Troy here wanted to congratulate you on tonight’s service.”
</p>
<p class="fiction-content">
    The two men looked at each other, neither having met the other before this moment. Yet, rather than run the risk of
    embarrassment they shook hands. “Oh wow man it’s been forever.” Paul smiled,”I hate to rush off but we had some bad
    souffles thanks to this weather but I'll make sure you two get a good one.”
</p>
<p class="fiction-content">
    “Oh now, send us the collapsed ones, save the best for our other guests.”
</p>
<p class="fiction-content">
    “Yes mam.” he smiled and turned to Troy as he left, “Great seeing you again buddy.”
</p>
<p class="fiction-content">
    Troy downed the rest of his drink. “So what’s this about? Your daddy own the restaurant or something?”
</p>
<p class="fiction-content">
    Helen laughed. “No, he owns the ones across the street. Everything from here to 4th street is mine.”
</p>
<p class="fiction-content">
    “So your daddy bought them for you.”
</p>
<p class="fiction-content">
    “They were my grandmother’s.”
</p>
<p class="fiction-content">
    “Of course, you didn’t earn it.”
</p>
<p class="fiction-content">
    “Earning it is easier than keeping it. Most of my family sold when the prices went up.”
</p>
<p class="fiction-content">
    “And they were right to!” Troy said, “Real estate out here is wild, you could sell half of this and invest in ten
    times more. You’re just sitting on money!”
</p>
<p class="fiction-content">
    Helen pulled a cigarette from her purse, “And what are you sitting on? My chair in my building in my restaurant?
    Eating food cooked by the chef I hired?”
</p>
<p class="fiction-content">
    He laughed, “Does that mean you’re getting the check too? Just think, with your money and my expertise we could
    start a real company.” He reached for the gold lighter in his pocket.
</p>
<p class="fiction-content">
    Helen waved his lighter away, opting for a box of hand-dipped matches. “I appreciate the offer Troy, I really do.”
</p>
<p class="fiction-content">
    Brian soon arrived with the check.
</p>
<p class="fiction-content">
    “It was lovely chatting with you tonight and thank you for coming all the way down here but I just don’t think this
    is going to work out.” She said, placing three hundred dollar bills in the folder.
</p>
<p class="fiction-content">
    “Hey, I get it, enjoy the rest of your evening.” Troy said, leaving the table. ”Good luck paying the taxes on all
    this shit.”
</p>
<p class="fiction-content">
    Brian returned to bring her change, “Well?”
</p>
<p class="fiction-content">
    Helen exhaled from her cigarette and placed three more bills in his folder, “Dammit you were right.”
</p>