<p class="stanza">
    For us the horizon, so bright and so clear,<br />
    come now coronet that you take all I fear,<br />
    kisses you given and the magic that you shine<br />
    much deep and black that I see love can be so dear.<br />
</p>