<p>
    He adjusts his blue bell pants and checks himself in the bathroom mirror.
    <i>Great</i>, he thinks with a rehearsed smile. The shoulder-length wavy hair,
    the open shirt, everything is ready for the show. He looks at the setlist
    pasted to the wall one last time: everything from the blues years to the
    Bigger Bang era. <i>Nice</i>.
</p>
<p>
    What she doesn't know is that this is his last show. It has been five years
    with The Wild Horses, five years of playing at the Wino's, at weddings, small
    clubs, birthday parties; and he is fed up with it. He performs, <i>acts</i>,
    plays the part to a T, but after the shows are over, he wants nothing to do
    with the part. The girls, specially; God, he can’t stand being
    <i>adored</i> and stalked like that. He's more like Charlie Watts in that
    sense, low-key and mild-mannered, and for the past years he has wished he'd
    look like Charlie instead so he could blend in behind the drums. He curses his
    parents for giving him the Jagger looks but not so much for the Wino's bar,
    which he inherited and is his only source of income.
</p>
<p>
    It was fun at first. Like when he was just a teen and he sang the entire <i>Let it Bleed</i> album with his buddies
    playing it in his old man's garage, small and full of tires; and he discovered that aside from having the looks, the
    most iconic looks in rock & roll, he also had enough vocal power to pull it off
</p>
<p>
    Then he found his Keith, his Charlie and his Ronnie. "Brian" and "Bill" showed up once in a while to play some
    tracks. They had once been his best friends, the only ones who shared his passion for the Stones and understood him
    in his "psychotic breaks", as they call them these days.
</p>
<p>
    The stage is ready to greet The Wild Horses and she's waiting there with a kind of adoring yearning —some would call
    it hunger. She wonders, does he actually look that much like Mick or those people were just bluffing? Do the others
    look alike too so that she can feel she's at an actual Stones concert? <i>Look at that stupid girl</i>, a voice
    inside her says. <i>All this people here could be your parents.</i>
</p>
<p>
    The band comes up and is welcomed with cheers and applause. Without further introduction, for they're the Wino's
    main attraction, they start playing the first song on the setlist
</p>