<p>
    He adjusts his blue bell pants and checks himself in the bathroom mirror.
    <i>Great</i>, he thinks with a rehearsed smile. The shoulder-length wavy hair,
    the open shirt, everything is ready for the show. He looks at the setlist
    pasted to the wall one last time: everything from the blues years to the
    Bigger Bang era. <i>Nice</i>.
</p>
<p>
    What she doesn't know is that this is his last show. It has been five years
    with The Wild Horses, five years of playing at the Wino's, at weddings, small
    clubs, birthday parties; and he is fed up with it. He performs, <i>acts</i>,
    plays the part to a T, but after the shows are over, he wants nothing to do
    with the part. The girls, specially; God, he can’t stand being
    <i>adored</i> and stalked like that. He's more like Charlie Watts in that
    sense, low-key and mild-mannered, and for the past years he has wished he'd
    look like Charlie instead so he could blend in behind the drums. He curses his
    parents for giving him the Jagger looks but not so much for the Wino's bar,
    which he inherited and is his only source of income.
</p>
<p>
    It was fun at first. Like when he was just a teen and he sang the entire <i>Let it Bleed</i> album with his buddies
    playing it in his old man's garage, small and full of tires; and he discovered that aside from having the looks, the
    most iconic looks in rock & roll, he also had enough vocal power to pull it off
</p>
<p>
    Then he found his Keith, his Charlie and his Ronnie. "Brian" and "Bill" showed up once in a while to play some
    tracks. They had once been his best friends, the only ones who shared his passion for the Stones and understood him
    in his "psychotic breaks", as they call them these days.
</p>
<p>
    The stage is ready to greet The Wild Horses and she's waiting there with a kind of adoring yearning —some would call
    it hunger. She wonders, does he actually look that much like Mick or those people were just bluffing? Do the others
    look alike too so that she can feel she's at an actual Stones concert? <i>Look at that stupid girl</i>, a voice
    inside her says. <i>All this people here could be your parents.</i>
</p>
<p>
    The band comes up and is welcomed with cheers and applause. Without further introduction, for they're the Wino's
    main attraction, they start playing the first song on the setlist.
</p>
<p>
    <i>
        I was born in a cross-fire hurricane<br />
        And I howled at the morning driving rain<br />
        But it's all right now, in fact, it's a gas<br />
        But it's all right, I'm Jumpin' Jack Flash<br />
        It's a gas, gas, gas
    </i>
</p>
<p>
    When did his misanthropy (or disgust, his mother called it "disgust") begin? It was all roses at the beginning, of
    course, he was living the dream of 'becoming' Mick Jagger every other night. His idol. But the dream turned into
    routine, which turned into doubts. He didn't have a proper job —as he had no skills besides performing— and hated
    the perspective of being only a carbon copy all his life. His father once asked him if he wanted to write his own
    songs, and of course he was ready to do it, but his band mates wanted to continue playing covers. And even if he
    started composing, people would take one look at him and think, "Hey, that kid looks like Mick Jagger! I wonder if
    he'd play Satisfaction for me?”. This had been his ever-growing suspicion for years
</p>
<p>
    After much cheering, the show ends with their traditional rendition of "Wild Horses" on acoustic. Over the years,
    the song became him and he became the song. Bittersweet, sad, longing but unsure of the object of said longing. He's
    so worn down by the end that he refuses to play "Satisfaction" for the encore, as the twenty-something 'Keith' next
    to him suggests.
</p>
<p>
    Now he's in the second storey of the bar, watching the empty stage from above as he wipes the sweat off his face
    with a tiny towel. Suddenly, a girl runs up there, excited. They're all always excited, of course, but the band eyes
    this one in particular because she's much younger than the others that come to see them. <i>Some girls..</i>
</p>
<p>
    "Hi, Mick," she says, and her eyes gleam below the yellow lights. The other band members try not to laugh. "You've
    been incredible..."
</p>
<p>
    He finds her beautiful. But...
</p>
<p>
    "Thanks," he says with a weak smile. Then he starts drying his wild hair with the same towel.
</p>
<p>
    But the girl is not giving up.
</p>
<p>
    "Can I take a picture with you?" she asks him, and then, when he shows no interest, she adds, "Please?"
</p>
<p>
    He concedes with a nod, only because he doesn't want to leave a bad impression on his last show (and by extension,
    The Wild Horses' last show). <i>Would she take a picture with me if I looked any different?</i> He wonders as he
    mechanically puts an arm around her shoulder for the phone camera.
</p>
<p>
    She shares the photo in all her social media accounts at the same time. A no-life, lame fangirl; and she knows it.
    She admits it, she wears the badge with honor. It's not like an interesting and adventurous life awaits her outside
    this concert... No, it's worse than that. It's worse because this show is the best thing that's happened to her in
    months. Not finding a great job, not getting married or buying a place for herself, no; it's this concert.
</p>
<p>
    But she can see her Mick isn't on the best of moods, so she goes back to the first story to have drinks like
    everyone else. <i>It's okay, rockstars are like that</i>, she tells herself. She will wait outside the Wino's, but
    he doesn't need to know that.
</p>
<p>
    He's finished changing into regular clothes for men in their mid-twenties and putting the wet ones in a backpack.
    Now looking at his reflection in the same bathroom mirror, he starts thinking that a new look will do him good. Yes,
    that's it. And the quitting, he will quit the band through texting, much according to these times.
</p>
<p>
    She's outside, anxiously tapping her foot, when everyone except "Mick" leaves the Wino's among words of praise.
    <i>Where is he?</i>
</p>
<p>
    He leaves the bar once he's sure absolutely everyone else is gone and locks the door as his father taught him. He
    sighs and starts walking home, not noticing the girl nearby.
</p>
<p>
    She follows, eager to talk to him, to touch him, to absorb his very essence. She knows exactly how "creepy", how far
    from normal her behavior is; but she's not stopping. <i>Is it really that creepy?</i> she starts rationalizing.
    <i>Had I been born in the sixties... Yeah, I totally would have been one of Mick Jagger's groupies. It wouldn't had
        been creepy back then.</i>
</p>
<p>
    But she is here, right now in the 2010s, pushing her way through a cold breeze, chasing after an illusion. Sometimes
    all we have are illusions.
</p>
<p>
    As he turns a corner into the street where his apartment is, she thinks of her past lovers; all great guys she was
    lucky to have as boyfriends. But she was always looking for that high, that perfect emotional high that music gave
    her and her partners, poor things, could never match. And she never, she had to admit it now, loved those boyfriends
    as much as she loved musicians. She was always sharpening the boys' edges, polishing them, trying to mold them into
    what she wanted.
</p>
<p>
    He's finally home, thank God. Now he can shave his head or whatever else he has in mind for his new look. The
    character has died tonight.
</p>
<p>
    The college dropout, the nothing but a dreamer is watching it all from a hill; watching how he throws his backpack
    on the sofa, yawns and makes himself at home. Then she remembers, recites one of the Stones' verses in her head:
    <i>Lose your dreams and you may lose your mind.</i>
</p>