<p class="stanza right-aligned">
    if you think a selvedge<br />
    of blue grass stains<br />
    in lieu of faded knees<br />
    or the charm of <br />
    mining for scabs<br />
    like marooned iron or pennies<br />
    with dust crusted<br />
    tonguing<br />
    beneath nails<br />
    blackened by door jambs<br />
    makes Lee Greenwood's<br />
    palimpsest<br />
    palatable<br />
</p>
<p class="stanza right-aligned">
    then no matter<br />
    the whirlpool will salvage<br />
</p>