<p class="fiction-content">
    I was in Prague, I used to live with a cat, my flatmate's kitten, Sara. I normally have no
    affinity for domestic animals, but after all, Sara was only a child, and I couldn't help but feel towards her a kind
    of instinctual mammalian paternalism.
</p>
<p class="fiction-content">
    Having never grown up with an animal, I was surprised by how delightful it was simply to observe her. A kitten's
    life is a continual search for a comfortable place to lie down. In our apartment in Vršovice, Sara would pad around
    the apartment, set herself down, roll over, and then, unsatisfied, get up to try to search out some other more
    comfortable part. It was a shame, I think, to limit a predator's range to the span of a single apartment. She had
    none of the mercurialness associated with cats. She was perpetually skittish, nervous. Whenever I stood up, she
    would bolt away, still unused to my presence: in her eyes, a hulking, alien creature who lurched about her home.
</p>
<p class="fiction-content">
    I managed to pick up the apartment because my then flatmate, a Czech artist named Petr, had recently broken up with
    his girlfriend and needed another person to help cover rent. Adopted in happier times, to (then mutually) loving
    owners, Sara was now the product of a broken home. My roommate spoke only Czech, and I wasn't comfortable enough in
    my own Czech to ask him the details of the relationship, how they'd come to choose to get a cat together, why they
    broke up. I suppose that, irrespective of the language barrier, I wasn't sure of my own degree of tact.
</p>
<p class="fiction-content">
    In his bedroom, which I had inherited – Petr slept in a fold-out sofa in the living room – I come across a
    collection of photos: Petr and his ex at a horse ranch in Moravia, Petr leading a horse, the woman following him in
    the photographs with her head turned three quarters away from the camera. Even from the quarter that is visible, you
    could tell that she was beautiful.
</p>
<p class="fiction-content">
    On Petr's weekends away – he owned a motorbike, which he took out on long rides in the countryside – I was left
    alone with Sara, feeling like a sort of put-upon bachelor, the hapless star of One Man and a Baby. I tried to take
    care of her the best I could, refilling her kibble bowl, refreshing her water, scooping up her poop, chasing her
    away
    from the paints that littered Petr's living space. But I have a bachelor's bumbling way towards children and
    domestic animals, and I felt largely uncomfortable in my interactions with her. When she drew near, I stroked her
    head as gingerly as I would that of a stranger's five-year-old.
</p>
<p class="fiction-content">
    In November, by the time clouds had rolled in and brought with them the beginning of the Czech winter, Petr told me
    he couldn't stay anymore. Out of money, he told me he was going to go back to Kolín, to help his friend set up a
    gallery there. I made arrangements to move to an apartment in Holešovice. As a going-away present, he gave me a
    painting of the TV Tower in Žižkov. It was good, and I thanked him for it, but, to be honest, I had nowhere to put
    it. I'd assumed that Petr would take Sara with him, but she disappeared a few days before the move. I suppose she
    ended up with the ex, or perhaps with another friend. I don't know where she went, in the end, and I've never asked.
    In any case, I hope she found a place where she was comfortable.
</p>