<p class="fiction-content">
    The train ride from Amsterdam to Berlin is about six hours long. When I left Amsterdam to go travelling again, I
    realized while I was sitting on the train that I’d lost count of how many times I’d made that trip. It was only on
    my final ride to Berlin that I finally hit upon the trick to maximizing the comfort of the journey: repairing to the
    dining car as quickly as I could and buying a cup of tea which I drank slowly enough to justify a comfortable seat
    at a spacious window.
</p>
<p class="fiction-content">
    I rarely have much enthusiasm for the Dutch countryside. Dismayfully flat, monotonously green, the scene out the
    window usually seems an unending succession of polders, the green fields that the Dutch have sectioned off by dikes
    to reclaim land from the sea. Nor are Dutch towns to my eyes particularly pretty. The houses, the tiny townhouse
    rows, have the same red-brown brick which gives Amsterdam its pleasant color, but they lack its impressive
    ornamentation.
</p>
<p class="fiction-content">
    I remember the Dutch sky mostly as a gallery for clouds. Maybe it’s the North Sea; where I’m from in Texas you never
    see the variety of clouds you can find in the Netherlands, whose nephological diversity is a contrast to its
    terrestrial uniformity. From the train window, above the polders, the sky is Montanan in its largeness, capacious
    enough to frame the megalithic formations that roll in from the sea. I have seen this sky sometimes in Dutch
    paintings. Before I left the Netherlands, I visited the Kröller-Müller museum in Otterlo, where they have these
    early Dutch-years Van Goghs, paintings of the countryside. A windmill or a wind-swept field might be the nominal
    subject of the painting, but it’s the sky which takes up the majority of the canvas, and which grounds all the
    feeling.
</p>
<p class="fiction-content">
    The summer before I came to study in Amsterdam, I was living in Berlin, chaperoning my sister while she was taking a
    German language course. On my last day in Berlin, I met a girl at a cafe while I was waiting for my train to
    Amsterdam. Our meeting had the ellipsistic simplicity of romances in the movies. We’d exchanged shy smiles for a few
    minutes, and just when I’d screwed up the courage to talk to her, she herself stood up and came over to speak to me.
    She told me she’d just arrived in the city, that she was going to spend the year interning at an NGO. I told her I
    was going to study mathematical logic at Amsterdam, explained to her Gödel’s proof of the incompleteness of
    arithmetic, which was enough to impress her into one of those wide-eyed “I like you” smiles (revealing a fetching
    gap in her front teeth). Pressed for time, I tried very hard to be charming: We kissed two hours after we met.
</p>
<p class="fiction-content">
    Before classes started, I took the train back to Berlin from Amsterdam to see her twice. One night, I took her out
    to those warehouse bars at Warschauer Strasse, and we got caught in the rain. I pulled her under an awning, and we
    made out for several minutes. When I asked her to come back to my place, she nodded enthusiastically without saying
    a word.
</p>
<p class="fiction-content">
    At the end of the summer, I told her that I could make that trip every weekend. It could work, I’d insisted. Having
    traded up a kiss for sex, I’d dreamed like a speculator that I could trade up sex for a relationship – but she was
    already shaking her head no. No, it was too much to ask of me. She couldn’t bear the thought of me spending so much
    time and money just to visit her.
</p>
<p class="fiction-content">
    For a very long time, I wondered if this was the real reason why she’d said no, or whether it was simply that she’d
    lost interest, would not have seen a future irrespective of the distance. We were still only at the beginning of
    things, but even after a few days together, I could already feel the thing slipping away. It didn’t matter how happy
    she had been to see me in the evening, every morning I woke up next to a girl who was less excited to have woken up
    next to me than the day before. I suppose we were both mentally plotting a graph: her happiness over time, upon
    which, every day, a new data point would be added, each one, lower and further to the right than the last. It didn’t
    take a mathematician to extrapolate the trajectory.
</p>
<p class="fiction-content">
    But I never could get a full grip on what her real feelings were. Perhaps she never could either. Some mornings,
    walking to the U-Bahn, where I would drop her off on the way to her internship, she would insist on holding my hand,
    and I would feel excited because it seemed she’d changed her mind about things. And then, even if she’d smiled as
    we’d said goodbye, she could go days without answering her phone. And why had she cried when I told her finally that
    I’d decided to go back to Amsterdam early, when I said to her that I didn’t feel like it made sense to stay any
    longer?
</p>
<p class="fiction-content">
    In October, I called her from Amsterdam to wish her a happy birthday, and she told me she’d found a boyfriend. Or
    maybe it was just a boy. She didn’t have the young person’s insistence on refusing to name relationships as such.
    For a year, she sent me sporadic emails, and I always ended up answering too quickly, because I had always been fond
    of her atrocious English, which I still read in her fetchingly elongated German vowels.
</p>
<p class="fiction-content">
    During my year in Amsterdam, I found myself thinking about her quite often whenever I was alone. The thought of her
    like a cloud that sits perpetually on the horizon, that you find your gaze continually returning to. I was angry
    about the boyfriend, my hopes lifted too much by the emails, just high enough for it to be disappointing when they
    were deflated. Occasionally, my thoughts were of the form:
    <em>Perhaps if I had done this… or perhaps if I had been this way…</em>
    , these hypotheticals the shape of the self-doubt that accompanies all romantic failure. Sitting on the train
    again that final time, taking special care to take in the Dutch countryside because I was thinking: “This may be the
    last time I will travel on this train, and I must be better attentive to the details,” helped me to understand the
    romantic stupidity, the sheer madness it was to have travelled so far on the off chance that I might sleep with a
    girl who had once smiled at me across a cafe in Ostkreuz.
</p>
<p class="fiction-content">
    But thinking back on this final train ride from Amsterdam, I’m reminded of the other train rides I have gone on in
    the Netherlands. In the spring semester, I took the train to Utrecht every week to sit in on a recursion theory
    class. I went to Groningen, a student city, to see an old friend, to Hoge Veluwe, the national park, with another.
    At the start of the summer, I went with my classmates to the island of Texel. Trips which have allowed me to
    understand now that the persistent sameness of the Dutch landscape was also what lent it a sense of familiarity, so
    that remembering a single train ride could cause cascade the memories of how I felt at all of the others, the
    anticipation or disappointment that I felt as I was gazing out the window. And I understand now how much I miss that
    dismal countryside.
</p>