<p class="stanza">
    I've been a flowering tree in the shade<br />
    Of your leaves, all my branches bare.<br />
    My perfume mute, but the scent pervades<br />
    Of your nascent fruit in the air.<br />
</p>
<p class="stanza">
    I've been consumed by that scent, the whispering sound<br />
    Of your leaves in the wind has left me unable to speak<br />
    I'd bear fruit of my own, now I've found I'm bound<br />
    To sing your song instead, but my voice is weak<br />
</p>
<p class="stanza">
    If I cannot live in the world where shall I live<br />
    What thrall am I that has no voice to sing<br />
    But in your thrall am compelled to give<br />
    My voice to you, my whole self as offering<br />
</p>
<p class="stanza">
    I pray to breathe out my heart, breathe in the morning dew<br />
    And I, empty of myself, make a vessel of myself for you<br />
</p>