<!DOCTYPE html>
<html lang="en">

{{>html-header}}

<body>
  {{>menu}}

  <main class="article-content">
    <section class="issue-title">
      <h1>{{title}}</h1>
      <div class="author-name"><a href={{contributorURL}}>{{displayContributor}}</a></div>
    </section>
    <div class="article-text">
      <div class={{genre}}>
        {{>entry}}
      </div>
    </div>
    <a href="/index.html">Back to Pieces</a>
  </main>

  <footer>
    <p>&copy; 2023 r/litfiction</p>
  </footer>
</body>

</html>