<p class="stanza">
    I sleep for ever<br />
    I dream to remember<br />
    The things I was<br />
    The things I am<br />
    A slumber stretching onward<br />
    Indefinite<br />
    For a hope forlorn<br />
    For a tranquil doom<br />
    Still, in the vast unknown<br />
</p>
<p class="stanza">
    Into the depths below<br />
    Dark, cold<br />
    I sunk with a flurry of<br />
    Beautiful marine snow<br />
    Dander of the photic zone<br />
</p>
<p class="stanza">
    Layers of sediments deposit onto me<br />
    The seeping gas, the pooling brine<br />
    I don’t mind, I don’t mind<br />
    Atop me, succession:<br />
    The comings and goings<br />
    Of methanotrophs and sulfide oxidisers<br />
    The bustle and strife<br />
    Of whale falls and aphotic reefs<br />
    While I wait for tectonics: the world to shift and morph<br />
    So that I may wake once more<br />
    Buried in the euxinic abyss<br />
    Hydrothermal is my birthplace<br />
    Lithified is my grave<br />
</p>
<p class="stanza">
    From one iteration to another<br />
    From one form to the next self<br />
    The things I was<br />
    The things I am<br />
    Little more than sour filling in a thick round crust<br />
    Clutching memories onto a life yet lived<br />
    Travelling through geologic time: benthos of the hadal<br />
    For now, I rest<br />
    The somniloquy of a thermophile<br />
</p>