<p class="epigraph">
  The simulacrum is never that which conceals truth—it is the truth
  which conceals that there is none. The simulacrum is true.<br />
  <b class="epigraph-reference">-Jean Baudrillard, Simulacra and Simulation</b>
</p>
<b class="chapter-heading">I</b>
<p class="fiction-content">
  “I’m gonna fuckin’ splash warm cherry pie all over this
  goddamned place if you don—” my brother yells into his cheap
  smartphone, one of those inexpensive Androids bought online and
  made by the thousands in a Vietnamese sweatshop. He’s popping
  Grandma’s pills like they’re buttery movie theater popcorn. One
  here. Another there. Two more. He licks his fingertips after
  popping each pill, making sure he gets whatever is left over,
  imagined or otherwise. My brother gulps down Grandma’s pills
  between sips on his cold soda, a diet Señor Chunder. He told me
  this morning that he switched over to diet soda because of health
  concerns, something about the sugar eating away at his teeth—as
  if that’s his only health problem at the moment. My brother is
  pacing, back and forth, the length of the cramped hospice room,
  where our grandmother has come to die. I sit there, thinking when
  this will end, when I will be free of this cramped hospice room
  and free of my familial obligation to my dying grandmother.
</p>
<p class="fiction-content">
  Tolstoy once said that “Happy families are alike; every
  unhappy family is unhappy in its own way.” What Tolstoy didn’t
  know was that happiness is bullshit. It’s a Hallmark special that
  is hollow, devoid of any real meaning, its soul sold off to pay
  for the marketing campaign.
</p>
<p class="fiction-content">
  There are two kinds of families in twenty-first century
  America: There are those who pretend they aren’t fucked up,
  smiling, nodding on cue, hugging one another, having the
  occasional (nice) dinner together, and keeping up with the
  Joneses. Then there are those who don’t know they’re fucked up
  and/or just don’t care. Caring is beyond the second American
  family type. I guess you could say that my own family, at one
  point, belonged to the first one. We’ve fallen down the concrete
  staircase, and now we’re mangled, broken beyond recognition.
  Caring died out long ago. The lights are on, but no one is home.
  We’re fucked up, and nobody, and I mean nobody, cares anymore
</p>
<p class="fiction-content">
  I think of this fucked-up-ness as my brother, a man I hardly
  recognize anymore, pops more pills. He looks like a heroine
  fiend, skin and bones, with excess flesh dangling from the flabby
  bottoms of his arms, his chin, and his belly. His hair is salt
  and pepper, with patches of blond appearing like thirsty weeds in
  a long-neglected garden. His head of hair is thinning out, as are
  his pencil-thin beard and mustache. His skin is yellowing like
  old newspapers exposed to too much ultraviolet radiation.
</p>
<p class="fiction-content">
  My brother removes his phone from his right ear, and he
  screams into it. I wince, thinking his screaming will wake our
  grandmother, but his screaming doesn’t seem to stir her awake. He
  returns his phone to his ear, and he pumps a free hand into the
  air, showing off a faded tattoo sleeve. Grandma doesn’t much care
  for tattoos—something about marking one’s hide violates the angry
  god’s dictates in her eyes. So, Grandma hates the sight of
  tattoos, and she has even made it a point of telling my brother
  as much during her more lucid moments.
</p>
<p class="fiction-content">
  “I just can’t take the pain anymore!” my brother yells into
  his phone, and he continues, “I’m gonna pull out my gun and
  splash warm cherry pie all over this place, if you don’t refill
  my fuckin’ pills! I’m just tir—
</p>
<p class="fiction-content">
  My brother, the pill-popper, said to me this morning that he
  was borrowing Grandma’s medicine, because she didn’t need it
  anymore. He told me, with his trademark, shit-eating grin, “She’s
  gonna go see Grandpa and Annie anyways, man. You know how Grandpa
  doesn’t like her taking all of these meds. He keeps telling her
  it’s all in her head, ya kno’? I actually need ‘em—for my pain,
  bro. I told her I’d pay her back. You know she knows I’m good for
  it, too.”
</p>
<p class="fiction-content">
  My brother continues pacing the length of the dingy hospice
  room, where our grandmother, who barely recognizes any of us when
  she’s actually awake, is dying, slowly and painfully. Death
  lingers in the air. It’s like a thick chemical smoke from an
  industrial fire, choking out the sun or the clear blue sky over a
  large metropolitan expanse. At times, I steal an Alprazolam from
  my brother’s growing stash, tucked away in his military surplus
  rucksack, just so I can keep from exploding, so I can keep from
  breaking apart in front of Grandma, or, God forbid, in front of
  my brother and my father.
</p>
<p class="fiction-content">
  My brother continues his tirades against his doctors back in
  Colorado. He laces the phone conversations with explicit details
  about decorating the room’s white walls with warm, gooey cherry
  pie. He yells at clinic doctors and their nurses, saying he’s got
  the perfect bullet for the job, a forty-five hollow point. They
  hang up on him, three or four times, which prompts him to say,
  “They hung up on me, dude. Can you believe that shit, man?” This
  is all before someone with real authority answers his calls and
  tries talking him down, citing federal regulations and the need
  for rehab in my brother’s case. During all of this, my brother’s
  still popping pills, rolling his stoned eyes, and scratching at
  his yellowing neckline. He throws the occasional half-smile over
  my way, but I, for the most part, ignore him and try to focus on
  and be there for Grandma.
</p>
<p class="fiction-content">
  I’m sitting there, waiting for Grandma to die.
</p>
<p class="fiction-content">
  She is the only thing I have left, as far as real family is
  concerned. My mother and father weren’t there much—absentee
  parents, who spawned latchkey children and released them into the
  wild world, with not much in the way of supervision or even a
  care, a thought, or a prayer. Grandma and Grandpa watched over us
  like unwilling parents, but they were loyal when it mattered
  most.
</p>
<p class="fiction-content">
  Loyalty’s a great deal stronger than love, and it seems to
  count when things really matter. Love is something anyone can
  give away freely. Loyalty’s another thing. It takes a level of
  dedication that love doesn’t require.
</p>
<p class="fiction-content">
  My ex-wife and my two children are fifty miles south, in
  another state, living separate lives from my own. My pill-popping
  brother hasn’t exactly been himself, at least not since he got
  bone cancer and became a connoisseur of legally prescribed
  narcotics. His new favorites are those experimental ones made by
  large Chinese conglomerates, sold at a handsome profit through
  American subsidiaries in Canada, and later imported into the
  United States proper.
</p>
<p class="fiction-content">
  I continue to sit there and watch over my grandmother more
  intently, even as my brother continues his assault, the verbal
  equivalent of a fully loaded AR-15 in crowded building, on the
  medical staff back in Colorado. Grandma doesn’t stir, despite my
  brother’s increasing volume, a coarse baritone staccato that
  ricochets off the sparse walls of the hospice room. Grandma’s
  frail, milky white hands lay crisscrossed over her flat chest.
  Her chest heaves upward and then downward, as if she’s struggling
  to breathe. The medical machines are doing their best to keep her
  breathing, but they can’t fight the inevitable. Bottles of pills
  are everywhere. Her crosswords and an old Bible lay atop of a
  small table next to her bed. I can’t help but think of what this
  says about life on this world, in this indifferent universe.
</p>
<p class="fiction-content">
  When we all got the news that Grandma was dying, my father,
  someone I’ve only recently reconnected with, had the biggest grin
  on his face. He was seeing a serious payday in reach. His mother,
  my grandmother, has a modest fortune, sitting in banks and other
  financial institutions across the country. Grandma and Grandpa
  saved for their entire lives, all for a pleasant retirement they
  never got to enjoy for themselves. Once they were old enough to
  retire comfortably, they were too old to travel. Then Grandpa’s
  health declined: He had his heart attack, then he had a massive
  stroke, and, finally, death came for him. He died around
  lunchtime, a Monday if I remember correctly, screaming his last
  words at deeply confused nursing home staff. His final words,
  troubling as they were at the time, churn up in the expansive
  ocean that is my thoughts: God damn it!
</p>
<p class="fiction-content">
  Grandma seemed to be heading down the same path.
</p>
<p class="fiction-content">
  She experienced a heart attack a few weeks ago. Her health
  has gone from one low point to another, a steady decline into
  oblivion. Death seems to emanate from her broken and dying body,
  much like radiation might emanate from a piece of raw plutonium.
  Its radioactivity seeps into the bodies of her loved ones,
  changing them at a molecular level, spawning behaviors I didn’t
  really expect, even from myself.
</p>
<p class="fiction-content">
  As my brother continues his quest for experimental Chinese
  pharmaceuticals, I find myself wondering what will happen to her,
  my grandmother, in the end. She asked all of us, during a moment
  of excruciating pain and desperation, if there was a god, if she
  could see her dead husband again, and if she could see her little
  Annie, a daughter she’d lost in a swimming accident nearly
  seventy years before.
</p>
<p class="fiction-content">
  I choke down these words from a woman who’d been sure, all
  her life, that God was real, that Heaven was beautiful, and that
  all the lovely ones went into the Great Beyond in peace and
  became the singing angels. She was asking if there was anything
  beyond, something else besides this place. She was asking if God
  existed, if he was out there. Did she know something we didn’t?
  Did the universe tell her this was it—that there was nothing
  beyond this? That we return unto the Earth as nothing, returning
  to whence we came—as nothing.
</p>
<p class="fiction-content">
  My brother finishes his conversation with the doctors on the
  other end of the phone. His verbal assault has won him another
  thirty days of experimental Chinese pharmaceuticals. He slaps me
  on the arm, stirring me from my thoughts. I look up at him and
  ask, “What’s up, man?"
</p>
<p class="fiction-content">
  He says with a half-grin, “I’m gonna head over to the
  pharmacy in town. They’re goin’ to refill my pills, man. You need
  anything while I’m away, bro?”
</p>
<p class="fiction-content">
  I shake my head and say, “No, I’m good. I’ll just stay here
  with Grandma, in case she needs anything.”
</p>
<b class="chapter-heading">II</b>
<p class="fiction-content">
  Grandma is dead.
</p>
<p class="fiction-content">
  I still have questions, but the one who died had all the
  answers. Fortunately, for me, I have the technology to get those
  answers from the dead.
</p>
<p class="fiction-content">
  I still think of her as being here with me now, even though
  she’s gone. I was the only one there: Her loyal grandson,
  whatever that is worth now. My brother, my father, and the rest
  of her so-called family were gone for the night. I convinced the
  night staff to let me stay, even though it was against
  regulations and company policies. Now, she’s dead, gone.
</p>
<p class="fiction-content">
  I unpack Grandma’s things I’ve stolen from her house: her
  letters to Grandpa during the war, her diaries, her journals, her
  business papers, her letters to family members long-since dead,
  and even her various electronic devices, such as tablets, a few
  old smartphones, and two computers and an assortment of hard
  drives. These things are all I care about, and they are all I
  have taken from my grandmother’s house, following a pillaging led
  by people claiming to be her family members. No one wants the
  stuff that reminds them she was more than just money. However,
  that didn’t change the fact that I had to break into her house to
  get these things, to save them from a bad fate in the local dump.
</p>
<p class="fiction-content">
  My father, in his search for his mother’s money and assets,
  changed the locks and even installed a cheap electronic
  surveillance system, knowing others might come looking for
  anything of value in the house.
</p>
<p class="fiction-content">
  Thankfully, my father is stupid.
</p>
<p class="fiction-content">
  He’s also not very tech savvy, and he trusted people from a
  security company he found on the Sprawl to ensure that everything
  was working properly.
</p>
<p class="fiction-content">
  The other mistake was thinking I didn’t know how to pick
  locks. Lock-picking was something I learned in college, at a time
  when I lived in the dorms and needed to pass the time. Even high-
  tech locks aren’t immune to the soft call of lock-picking tools.
  It took a few hours of research on the Sprawl, mostly surfing my
  usual haunts on Dark Web forums, to find the right tools and
  techniques for my B&E. The tools were easy enough to find and
  procure from the local hardware stores in town, but the
  techniques used for breaking and entering were a bit tricky, to
  say the least.
</p>
<p class="fiction-content">
  Once inside, I found the centralized storage and computing
  unit for the new home security system. I stripped the system of
  its high-capacity SSDs, and I even stole the RAM and the backup
  hard drives reserved for long-term storage. One of the many
  benefits of living in the middle of nowhere is the real lack of
  stable bandwidth, something telecoms corporations and politicians
  keep promising to fix. The truly high-tech security systems don’t
  have the ability to connect in real-time with their company’s
  A.I., in order to discern threats and real security issues around
  the house. Their softbrains must determine that stuff on their
  own, with limited computational resources, and they often make
  conservative judgment calls.
</p>
<p class="fiction-content">
  I was also safe breaking into my grandmother’s house for two
  other reasons, I’d thought. I’d visited the house during and
  after the installation process, so the system’s softbrain didn’t
  think much of me. Even if it did, the response time for a
  sheriff’s deputy to arrive was painfully slow. Hours at the very
  least. Days at the most. It’s another beautiful silver-lining for
  those living in the boonies.
</p>
<p class="fiction-content">
  As I made my way through Grandma’s house, I took notes of
  what I needed to steal before my father, and others, trashed the
  house completely. The pillaging had already begun, but I knew
  most of what I wanted was still safe.
</p>
<p class="fiction-content">
  I grabbed Grandma’s letters, stuffing nearly seven decades
  of correspondence into my duffle bag. I grabbed her electronic
  devices, even her favorite e-Reader, loaded up with her favorite
  novels, stories, and magazines and newspapers she loved to read
  on the weekends. I bought her the e-Reader nearly two Christmases
  ago. Every time I visited the house, I would download more of her
  favorites, hoping it would keep her busy until my next visit. I
  stole all her home videos, stored on DVDs, Blu-Ray, and
  Hyperdiscs. I stripped cameras of their memory cards, and I also
  managed to store all her old-school photo albums, and even the
  digital picture frames, into my bag.
</p>
<p class="fiction-content">
  Her home office was the biggest challenge for me, because my
  asshole father replaced the old locks with a complicated one,
  something I didn’t remember from the install and something I
  didn’t have time to learn to crack open. Instead, I decided the
  crowbar poking out of my bag was the right tool for the job. The
  door’s varnished wood snapped and splintered with the right
  applications of my crowbar. I then smashed the high-tech lock, as
  a “FUCK YOU” to my old man.
</p>
<p class="fiction-content">
  I took my time sifting through Grandma’s personal papers,
  business correspondence, and the like, knowing full well my
  father was vacationing in the Caribbean, spending Grandma’s money
  on whatever it could buy. My B&E had motives that my father, and
  even my brother, wouldn’t understand: I needed to resurrect the
  dead, but, like any Frankenstein’s monster, you must go grave
  robbing first.
</p>
<b class="chapter-heading">III</b>
<p class="fiction-content">
  The oft-quoted axiom of “death and taxes” floats in my mind
  as family members arrive, pay their faux respects, and then
  promptly leave Grandma’s bedside, some almost running to distance
  themselves from a dying woman. Grandma doesn’t seem to mind this
  impious fiction much. In fact, it’s as if she enjoys it. It’s as
  if she knows something others don’t. Maybe it is the ephemeral
  nature of the flesh? The transient nature of the soul? Or, maybe,
  just maybe, she knows they, too, will be like her, one day soon.
  She’ll have the last laugh, as cliché as it sounds. Grandma seems
  distant as everyone leaves, and I stay there. We make incoherent
  small talk. The weather. Work. Politics. My kids, her great
  grandchildren. We avoid the inevitable conversation that is on
  both of our minds: What happens next?
</p>
<p class="fiction-content">
  “You know,” she begins, and then she continues, “I am in
  such terrible pain, kiddo.”
</p>
<p class="fiction-content">
  “Do I need to get the nurses to give you something,
  Grandma?” I ask in earnest.
</p>
<p class="fiction-content">
  She shakes her head, tears begin streaming down her cheeks,
  nose, and chin. Her eyes redden, and her face begins puffing up
  around her eyes and nose. She says with heavy sob, “I have a pain
  they can’t cure, kiddo. I have been so empty since your
  grandfather left me here. That son of a bitch left this world too
  damn fast. We were supposed to leave together.”
</p>
<p class="fiction-content">
  I laugh and say, “I don’t think he could have helped it,
  Grandma.”
</p>
<p class="fiction-content">
  She flashes a quick smile at me. The smile slowly fades like
  a picture exposed to the elements for too long. Grandma shakes
  her head. More tears. Real waterworks. She stifles most of her
  sobs, but some bleed through.
</p>
<p class="fiction-content">
  “What is wrong, Grandma?” I ask, moving my chair closer to
  her bedside. “What can I do, Grandma?”
</p>
<p class="fiction-content">
  “You’re the only one who cares, honey,” she says, grabbing
  my arm with a frail hand. Her grip is still warm and strong. It’s
  stronger than I’d thought it would be. She continues, “I’m sorry
  I’m in such a terrible mood. I just have so much on my mind,
  honey.”
</p>
<p class="fiction-content">
  “It’s okay, Grandma,” I say, patting her hand, trying to
  comfort her, trying to reassure her. I then say, “You’re allowed
  to have a lot on your mind. Hell, you’ve got every reason to have
  a lot on your mind.”
</p>
<p class="fiction-content">
  She smiles at this and then begins dozing off. I place her
  hand back on her chest, and then I push my chair to the other
  side of the room. I sit there, and I watch Grandma in her uneasy
  slumber. I mull over what she has just told me, and I feel as if
  I have been burdened by her. I don’t want to think like this, but
  I can’t help it. Where the hell is my father? My brother? Her
  other family members? Why am I here? Why do I care so much? Why
  do I have to be the loyal grandson? Why do I have to be burdened
  by this dying woman?
</p>
<p class="fiction-content">
  Then I remember what Grandpa told me all those years ago.
</p>
<p class="fiction-content">
  Sometimes, just sometimes, loyalty’s worth more ‘an anything
  in this world. Love doesn’t do much. Love is meaningless. It’s a
  cheap commodity we buy and sell. It’s something that the
  mammalian brain does too easily. Loyalty, on the other hand, is
  something that requires thought, and a serious kind of thought.
  An introspection, a gazing into one’s soul. To be loyal, truly
  loyal, one must put themselves in danger, and they must live
  outside of their comfort zones. Loyalty is paid for in blood,
  sweat, money, and strain.
</p>
<p class="fiction-content">
  Grandpa believed that true love, the love that was malleable
  like gold, yet stood the test of time, was loyalty. Loyalty to
  one’s family. Loyalty to one’s country. Loyalty to God. Loyalty
  to self. These were the tenants of our family’s religion, a faith
  built in an indifferent world, in a vast universe where we are
  meaningless. Loyalty meant survival of familial bonds. To
  Grandpa, it meant the continuation of society, and all the rest
  that we hold dear.
</p>
<p class="fiction-content">
  Loyalty is why I am here, waiting for Grandma to die. I know
  she is going to die, because the doctors have declared it
  inevitable. Pain and organ failure are signs that the great
  equalizer is on its way. Death is something my Grandma wants.
  Since Grandpa’s death, she’s been on a decades-long mission to
  seek out death. For nearly twenty years, she’s decided to check
  out, leaving all of us behind.
</p>
<p class="fiction-content">
  Death hasn’t come.
</p>
<p class="fiction-content">
  With that, disappointment has settled in. Questions
  concerning faith have become more and more prominent in our daily
  phone and in-person conversations. Grandma has learned that
  loyalty, in her eyes, is joining her husband and her long-dead
  family members. She has no one here. Her only child is someone
  who sees her as a piggy bank, ready to be broken open and looted.
  Her grandchildren, including myself, are disappointments. She
  sees the Great Beyond as something of an escape plan, a way to
  shuffle off this mortal coil and seek out a better place, a place
  where the angels sing, loved ones live again, and goodness
  prevails.
</p>
<p class="fiction-content">
  As night begins to settle over the landscape outside, the
  bright LED lights overhead dim, letting Grandma rest a little
  more. I sit there, hoping she won’t die tonight, because I don’t
  want to be the one who saw her through to the end. I just cup my
  hands together between my knees and watch her. I think to myself,
  This shouldn’t be my burden. This isn’t mine alone to have. Where
  the hell is my father? Where is everyone else?
</p>
<b class="chapter-heading">IV</b>
<p class="fiction-content">
  When aliens find our sun-bleached remains, on a dead planet,
  orbiting a star of little consequence, they will wonder what
  lives we led with all of the crap we consumed, hoarded, and
  stored in our houses, garages, and storage units. This thought
  experiment consumes my thoughts, as I begin uploading scans of
  Grandma’s diaries, journals, business papers, photographs, and
  favorite reading material into an open source program I found on
  the Web. Simulacrum uses a PostgreSQL database and elastic search
  functionality. Grandma’s stuff has taken nearly three weeks to
  sort, scan, and upload into my Simulacrum build, which uses OCR
  tech and some special data tools to store and make sense of what
  I have given it.
</p>
<p class="fiction-content">
  Simulacrum, at first glance, just appears to be a simple
  data visualization tool, with elastic search capabilities and a
  powerful database behind it. Simulacrum was originally designed
  to solve cold cases for large (and even small) police departments
  across North America and Europe, something I didn’t know prior to
  looking it up on the Sprawl. It has also been used to bring back
  dead actors, artists, and politicians.
</p>
<p class="fiction-content">
  The tool itself creates a profile, filling in the blanks
  with the information you feed it. The more information you have,
  the more accurate the Simulacrum profile becomes. This profile is
  then fed into a neural network, which develops a persona of long-
  dead individuals. In this case, my grandmother, who has some
  questions she needs to answer for me. Bringing back the dead is,
  technically, impossible—at least without some serious necromancy,
  smelling salts, and a space heater. That means, I must figure out
  something that is in the right ballpark, something that will
  satisfy my brain and answer those questions that’ve been keeping
  me up at night since her death.
</p>
<p class="fiction-content">
  I work for an ISP, where I help keep the Sprawl going. The
  Sprawl, the new Internet, requires a lot of TLC on the hardware
  and software side of life. That’s where I come in. During the
  day, I spend my time talking with customers who don’t know the
  fundamentals of computer and network operations. (This just
  confirms my theory that the Sprawl will lead to the end of
  civilization, and I am (essentially) one of the Four Horsemen of
  the Apocalypse. Too bad that doesn’t fit well on a one-page
  resume.) I also work with business administrators, who have very
  little knowledge of FCC regulations, Net Neutrality, and even the
  fundamentals of bandwidth. This leads to a good deal of
  frustration and soul-crushing numbness. Then, when I come home, I
  spend my time combing through all the information I have on
  Grandma. I have spent almost a year collecting everything I can
  on her, her life, and other tidbits of data, so I can ask her the
  questions that I’ve had in the back of my mind for so long.
</p>
<p class="fiction-content">
  As I vacuum the PostgreSQL database for tuples, I feel
  anticipation rising within me. What will I ask her? What will the
  persona think? What will it say? Will it be just like her? Will
  it just be a flop, much like the stuff I see on the Sprawl?
</p>
<p class="fiction-content">
  When I’ve completed database vacuuming, so the database
  doesn’t balloon in size, and perform a few server updates, I
  notice that my hands are shaking, and my legs feel like Jell-O. I
  feel myself losing it again. I feel myself slipping into what
  happened after, when I did something stupid and decided to take
  my brother’s advice to solve my problems. I shake my head,
  stretch, and take a swig from my lukewarm Earl Gray tea. I rub
  the backs of my hands against my tired eyes. I look at the login
  screen for my Simulacrum build, and then I begin typing in my
  credentials.
</p>
<b class="chapter-heading">V</b>
<p class="fiction-content">
  Grandma screams out in pain.
</p>
<p class="fiction-content">
  Why, God! Why have you forsaken me?” she yells out. The
  shrill notes that are her voice ring off the walls, waking me
  from a troubled sleep. “Damn you!” she screams. “Damn you!”
</p>
<p class="fiction-content">
  She is writhing in her bed. Medical machinery is squawking,
  and a nurse enters the room, a syringe in hand. The nurse is a
  tall brunette with arms like a professional football player.
</p>
<p class="fiction-content">
  “Don’t worry, honey,” the nurse says, trying to calm my
  grandmother. My grandmother doesn’t take this kindly and yells at
  the women, “Leave me alone, you bitch! Leave me to die! I want to
  die! I just want to die!”
</p>
<p class="fiction-content">
  “This should help you, dear,” the nurse responds, injecting
  her with sedatives with military precision. She wipes strands of
  white hair away from my grandmother’s eyes, and she tries to calm
  her. My grandmother’s expletives begin fading into slurred speech
  and incoherent mumblings.
</p>
<p class="fiction-content">
  The nurse looks at me and says, “You should go home. She’ll
  be fine until you get back.”
</p>
<p class="fiction-content">
  I nod and say, “I don’t mind being here for her.”
</p>
<p class="fiction-content">
  The nurse looks over at Grandma, then me, shrugs and says,
  “Most people would.”
</p>
<p class="fiction-content">
  She leaves me and my grandmother in our troubled silence. I
  wait until I cannot hear the nurse’s heavy footsteps on the
  laminate tile flooring of the main hallway, before I walk over to
  my brother’s rucksack, sitting against the wall adjacent to
  Grandma’s bed. In his infinite junkie wisdom, my brother forgot
  his stash when they agreed to refill his pills. I rummage through
  my brother’s stash, looking for anything that might help Grandma.
  I know the doctors and nurses are only worried about pain
  management, and nothing more. Their indifference has been a sore
  spot between me and the nurses. I find my brother’s forgotten
  painkillers—the stuff he doesn’t like anymore because they aren’t
  potent enough. I grab two pills and roll them around in my palm.
  I look up at Grandma, look down at the pills, and then I look
  back up at Grandma. She’s holding her chest with both hands. She
  appears to be struggling against the sedative the nurse gave her.
  I zip up the rucksack and sling it over my right shoulder. I walk
  over to Grandma, who is struggling to keep her eyes open against
  the sedative’s assault.
</p>
<p class="fiction-content">
  I look at the pills again and then at Grandma. I kneel next
  to her and feel warm tears running down my cheeks and neck. I
  swat at them, wiping away what I can. I feel my nose running, and
  I wipe it with the back of my hand.
</p>
<p class="fiction-content">
  “You’re such a loyal boy, honey,” my grandma whispers to me.
  “A chip off the old bl—
</p>
<p class="fiction-content">
  This brings more tears, and I feel my body shaking. I move
  in closer and say, “I love you, Grandma.”
</p>
<p class="fiction-content">
  “Lov—love you, too, honey,” she mumbles, her eyes rolling
  into the back of her head. The sedatives are winning out.
</p>
<p class="fiction-content">
  I pinch open my grandma’s mouth and stuff the two water
  soluble pills between her teeth and the inside of her cheek. I
  close her mouth and lean down, giving her a kiss on the forehead.
</p>
<p class="fiction-content">
  “Goodbye, Grandma,” I say, before walking out of the room,
  my brother’s pill stash slung over my shoulder. I push what I’ve
  done out of my mind, and I think of what I need to do next.
</p>
<b class="chapter-heading">VI</b>
<p class="fiction-content">
  My brother’s house is a small three-bedroom place with blue
  carpeted floors. He’s stoned out of his mind, when I ring the
  doorbell. He opens the door and says, “The mailman’s here, honey.
  Did you order something from—
</p>
<p class="fiction-content">
  He doesn’t even complete his question. Instead, my brother
  heads for the kitchen table, and I follow him, throwing his
  rucksack full of pills onto small living room’s only couch. My
  brother’s second wife, Darla, greets me with a smile. She looks
  embarrassed by my brother’s behavior. She then says, “You want to
  stay for dinner?”
</p>
<p class="fiction-content">
  I nod and say, “Yeah, that sounds nice.”
</p>
<p class="fiction-content">
  She nods and grabs another plate from one of the kitchen
  cabinets. I take off my coat, and I sit next to my brother, who
  is eating raviolis with his fingers. He sucks on his fingertips
  after swallowing a ravioli whole.
</p>
<p class="fiction-content">
  “I have a test in the morning,” my brother’s wife declares.
  She then says, “I’ll leave you two to eat. Can you make sure he
  doesn’t hurt himself?”
</p>
<p class="fiction-content">
  I nod and say, “Will do."
</p>
<p class="fiction-content">
  She laughs and leaves for their bedroom.
</p>
<p class="fiction-content">
  I am playing with my ravioli when I notice my brother hasn’t
  said much. I look over at him. His head is drooping, and I hear
  him choking. At first, I thought it was him snoring, but I move
  in closer. He’s choking on something. What exactly? I don’t know.
  I shake him and say, “Bro, you okay?” He doesn’t respond, and I
  assume the worse. I can’t let this asshole die on me. I can’t
  have that be another burden from this family of mine. I grab the
  vacuum cleaner, parked between the couch and the coffee table. I
  grab it, attach the crevice tool, and plug the vacuum in next to
  the table.
</p>
<p class="fiction-content">
  “Don’t die on me now, motherfucker!” I hear myself yelling,
  as I squeeze open my brother’s mouth and jam the crevice tool
  into the back of his throat. I hear the shunk as the ravioli is
  sucked up into the vacuum. I rip the vacuum’s cord from the wall
  and yell at my brother: “Don’t you die on me, motherfucker!""
</p>
<p class="fiction-content">
  My brother wakes up, and he says, “What is the postman doing
  in my house?”
</p>
<p class="fiction-content">
  I punch my brother’s arms, and he winces at this and begins
  rubbing it. I plop down in my chair. I look up at the table and
  see ravioli, whole and in pieces, everywhere. I feel my pocket
  buzzing. I assume the worst, thinking it must be the nursing
  home.
</p>
<b class="chapter-heading">VII</b>
<p class="fiction-content">
  I wait for the persona to load on my server.
</p>
<p class="fiction-content">
  It has been a year since I stole everything from Grandma’s
  house. A year since she died, and a tough year at that. I never
  understood how much Grandma meant to me before now. I never
  understood her role in my life until now. As the persona loads
  and the neural network configures the necessary settings within
  Simulacrum’s architecture, I find myself thinking what I will ask
  her.˝
</p>
<p class="fiction-content">
  Thankfully, I did the smart thing and upgraded the CPU,
  added the SSD’s I stole from Grandma’s house, and added some
  extra RAM to help give a little umph to my Linux server. I sip on
  my Earl Gray with half-and-half, hoping the server won’t eighty-
  six itself trying to get everything working. The high-resolution
  screen brightens, and a three-dimensional representation of my
  dead grandmother appears. Nervous as ever, I clear my throat and
  say, “Good evening, Grandma.”
</p>
<p class="fiction-content">
  She smiles and says, “Oh, it’s good to see you again, honey.
  You need to eat more. I would make a ham sandwich for you, but I
  can’t seem to move. Where am I?”
</p>
<p class="fiction-content">
  I don’t say anything. I think about what I want to say.
</p>
<p class="fiction-content">
  “Dear?” she asks, a look of confusion etching deep lines
  across her cheeks and forehead.
</p>
<p class="fiction-content">
  “I’ve resurrected you using a neural network, Grandma,” I
  say, answering her as I would my now-dead grandmother.
</p>
<p class="fiction-content">
  “What does that mean, honey?” she asks. A look of freight
  covers her face. Her brow furrows and her thin lips twitch.
</p>
<p class="fiction-content">
  “I have some questions that need answering,” I say.
</p>
<p class="fiction-content">
  “What do you mean?” she asks. Her voice is my grandmother’s.
  She looks like my grandmother. She feels real, but I cannot help
  but think this has been a year wasted. I open the Linux server’s
  terminal. I begin typing in the kill command, thinking I will
  start over, once I’ve had time to think on what information I
  need to get her persona right.
</p>
<p class="fiction-content">
  “You’re such a loyal boy,” she says without reason. “You
  were always such a loyal boy, hon—
</p>
<p class="fiction-content">
  I finish typing the kill command, and then I hit ENTER. My
  grandmother’s virtual persona bleeds away from the screen. I
  reboot the server, before heading into the kitchen for a fresh
  cup of Earl Gray with a little half-and-half mixed in. It’s going
  to be a long night, I think to myself. She’s not ready yet. She
  needs more work.
</p>